{{debug "Combat Tracker: " this}}
<section class="tab sidebar-tab directory flexcol" id="combat" data-tab="combat">
    <header id="combat-round">
        {{#if user.isGM}}
        <nav class="encounters flexrow">
            <a class="combat-create" title="{{localize 'COMBAT.Create'}}">
                <i class="fas fa-plus"></i>
            </a>
            {{#if combatCount}}
            <a class="combat-cycle" title="{{localize 'COMBAT.EncounterPrevious'}}" {{#if previousId}}data-combat-id="{{previousId}}" {{else}}disabled{{/if}}>
                <i class="fas fa-caret-left"></i>
            </a>
            <h4 class="encounter">{{localize "COMBAT.Encounter"}} {{currentIndex}} / {{combatCount}}</h4>
            <a class="combat-cycle" title="{{localize 'COMBAT.EncounterNext'}}" {{#if nextId}}data-combat-id="{{nextId}}" {{else}}disabled{{/if}}>
                <i class="fas fa-caret-right"></i>
            </a>
            {{/if}}
            <a class="combat-control" title="{{localize 'COMBAT.Delete'}}" data-control="endCombat" {{#unless combatCount}}disabled{{/unless}}>
                <i class="fas fa-trash"></i>
            </a>
        </nav>
        {{/if}}

        <nav class="encounters flexrow">
            <a></a>
            <a></a>
            {{#if combatCount}}
                {{#if combat.data.round}}
                <h3>{{localize 'COMBAT.Round'}} {{combat.data.round}}</h3>
                {{else}}
                <h3>{{localize 'COMBAT.NotStarted'}}</h3>
                {{/if}}
            {{else}}
            <h3>{{localize "COMBAT.None"}}</h3>
            {{/if}}

            <a></a>
            <a></a>
        </nav>
    </header>

    <ol id="combat-tracker" class="directory-list">
        {{#each turns}}
        <li class="combatant actor directory-item vsd {{this.css}}" data-combatant-id="{{this.id}}">
            <img class="token-image" data-src="{{this.img}}" title="{{this.name}}" />
            <div class="token-name">
                <div class="namerow">
                    <h4>{{this.name}}</h4>
                    <div class="token-effects">
                        {{#each this.effects}}
                        <img class="token-effect" src="{{this}}" />
                        {{/each}}
                    </div>
                    <div class="token-initiative">
                        {{#if this.hasRolled}}
                            {{#if ../user.isGM}}
                            <input class="initiative" value="{{this.initiative}}" type="text" />
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
                <div class="actionrow">
                    <div class="combatant-controls flexrow">
                        {{#if ../user.isGM}}
                        <a class="combatant-control {{#if this.hidden}}active{{/if}}" title="{{localize 'COMBAT.ToggleVis'}}" data-control="toggleHidden">
                            <i class="fas fa-eye-slash"></i></a>
                        <a class="combatant-control {{#if this.defeated}}active{{/if}}" title="{{localize 'COMBAT.ToggleDead'}}" data-control="toggleDefeated">
                            <i class="fas fa-skull"></i></a>
                        {{/if}}
                    </div>
                    <div class="action">{{this.action~}}</div>
                    {{#if this.owner}}
                    <select class="declaredaction" data-name="initiative">
                        {{#select this.initiative}}
                        {{#each ../combat.actions as |entry e|}}
                        <option class="option" value="{{entry.initiative}}">{{entry.action}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    <a class="interrupt"><i class="fas fa-hand-paper"></i></a>
                    {{/if}}
                </div>
            </div>
        </li>
        {{/each}}
    </ol>

    <nav id="combat-controls" class="directory-footer flexrow">
        {{#if hasCombat}}
            {{#if user.isGM}}
                {{#if round}}
                <a class="combat-control" title="{{localize 'COMBAT.RoundPrev'}}" data-control="previousRound"><i class="fas fa-step-backward"></i></a>
                <a class="combat-control" title="{{localize 'COMBAT.TurnPrev'}}" data-control="previousTurn"><i class="fas fa-arrow-left"></i></a>
                <a class="combat-control center" title="{{localize 'COMBAT.End'}}" data-control="endCombat">{{localize 'COMBAT.End'}}</a>
                <a class="combat-control" title="{{localize 'COMBAT.TurnNext'}}" data-control="nextTurn"><i class="fas fa-arrow-right"></i></a>
                <a class="combat-control" title="{{localize 'COMBAT.RoundNext'}}" data-control="nextRound"><i class="fas fa-step-forward"></i></a>
                {{else}}
                <a class="combat-control center" title="{{localize 'COMBAT.Begin'}}" data-control="startCombat">{{localize 'COMBAT.Begin'}}</a>
                {{/if}}
            {{else if control}}
            <a class="combat-control center" title="{{localize 'COMBAT.TurnEnd'}}" data-control="nextTurn">{{localize 'COMBAT.TurnEnd'}}</a>
            {{/if}}
        {{/if}}
    </nav>
</section>
