#combat {
    li.combatant.defeated {
        color: #e0736e;
    }

    .combatant {
        display              : grid;
        grid-template-columns: 48px 1fr 48px;

        .token-name {
            display           : grid;
            grid-template-rows: auto;

            .combatant-controls {
                display              : grid;
                grid-template-columns: 20px 20px 48px 20px 1fr;

                .actions,
                .shotCost {
                    color           : silver;
                    height          : 20px;
                    border          : none;
                    background-color: #800;
                    text-align      : center;
                }
            }
        }

        .token-initiative {
            .initiative {
                color           : silver;
                height          : 20px;
                border          : none;
                background-color: #800;
                text-align      : center;
            }
        }
    }

    .combatant.vsd {
        display              : grid;
        grid-template-columns: 48px 1fr;

        .token-name {
            display           : grid;
            grid-template-rows: auto;

            .namerow {
                display              : grid;
                grid-template-columns: 1fr 80px 48px;
                line-height          : 24px;
                align-items          : center;
            }

            .actionrow {
                display              : grid;
                grid-template-columns: 40px 1fr 28px 20px;
                line-height          : 24px;
                align-items          : center;
            }

            .action {
                color           : @text-main-colour;
                line-height          : normal;
                border-radius          : 3px;
                background-color: @text-alt-colour;
                text-align      : center;
                font-size: smaller;
                text-shadow: 0 0 black;
            }

            .declaredaction {
                color           : @text-alt-colour;
                height          : 20px;
                border          : none;
                background-color: @alt-colour;
                text-align      : center;
                width           : 18px;
            }
        }

        .token-initiative {
            padding-top: inherit;
            .initiative {
                color           : silver;
                height          : 20px;
                border          : none;
                background-color: #800;
                text-align      : center;
            }

            .roll {
                transform: scale(0.8);
                height   : 30px;
            }
        }
    }

}