.mnm-owneditems {
    .col3();

    .owneditem {
        .roundedcard();
        .RaiderCrusader(bolder, smaller);
        display              : grid;
        grid-template-columns: 4fr 1fr;
        align-items: end;
        background-color: #a9a9a9c7;
        width:185px;
        border-width: 2px 2px 3px 3px;
        border-radius:~"4% 95% 6% 95% / 95% 4% 92% 5%";
        transform: rotate(-1deg);
        border-color: black;
    }
        .owneditem:hover {
            transform: rotate(1deg);
            text-shadow: 0 0 10px red;
            cursor: pointer;
        }

    .mod {
        display              : grid;
        grid-template-columns: 20px 1fr 20px 1fr;

        .name {
            grid-column: span 4;
        }
    }

    .var {
        display              : grid;
        grid-template-columns: 1fr 40px 40px;
    }
}