.mnm-section {
    .RaiderCrusader(normal, small);
    display       : grid;
    grid-auto-rows: auto;
    border-radius : 5px;
    border        : 2px solid black ;

    .sectionheader {
        .roundedheader();

        .section-title {

            .title,
            a {
                .RaiderCrusader(normal, small);
                border    : inherit;
                padding   : inherit;
                margin    : inherit;
                background: inherit;
            }

            .title {
                .RaiderCrusader(normal, small);
                color: inherit;
            }
        }
    }

    .content {

        .nospan,
        .twospan,
        .threespan,
        .fourspan {
            .col4();

            .header {
                grid-column: span 4;
                .roundedheader();

                .section-title {

                    .title,
                    a {
                        .RaiderCrusader(normal, small);
                        border    : inherit;
                        padding   : inherit;
                        margin    : inherit;
                        background: inherit;
                    }

                    .title {
                        .RaiderCrusader(normal, small);
                        color: inherit;
                    }
                }
            }

            .entry {
                .rollablecard();
                .RaiderCrusader(bolder, smaller);
                align-items: baseline;
                background-color: #a9a9a9c7;
                width:185px;
                border-width: 2px 2px 3px 3px;
                border-radius:~"4% 95% 6% 95% / 95% 4% 92% 5%";
                transform: rotate(-1deg);
                border-color: black;
            }

            .entry:hover {
                transform: rotate(1deg);
                text-shadow: 0 0 10px red;
                cursor: pointer;
            }

            .attackentry {
                .attackcard();
                .RaiderCrusader(bolder, smaller);
            }

            .wound {
                .woundcard();
                .RaiderCrusader(bolder, smaller);
            }

            .subsection {

                .header {
                    .roundedheader();
                }

                .entry {
                    .rollablecard();
                    .RaiderCrusader(bolder, smaller);
                    align-items: baseline;
                }

                .entry:hover {
                    transform: rotate(1deg);
                    text-shadow: 0 0 10px red;
                    cursor: pointer;
                }
            }

            .doublewide {
                grid-column: span 2;
                .rollablecard();
            }

            .notes {
                background-color: #a9a9a9c7;
                grid-column: span 2;
                .roundedcard();
            }

            .rankvariable,
            .poolstyle,
            .variable {
                display              : grid;
                grid-column          : span 2;
                grid-template-columns: auto 1fr 36px;
                .RaiderCrusader(bolder, smaller);
                .roundedcard();
                align-items: baseline;
                background-color: #a9a9a9c7;
                width:185px;
                border-width: 2px 2px 3px 3px;
                border-radius:~"4% 95% 6% 95% / 95% 4% 92% 5%";
                transform: rotate(-1deg);
                border-color: black;

                .value,
                .variablename {
                    text-align: center;
                }

                .select {
                    border         : none;
                    background     : none;
                    height         : auto;
                    text-align-last: right;
                    color          : gray;
                    font-size      : inherit;
                    font-weight    : bold;
                }
            }
            
            .variable:hover {
                transform: rotate(1deg);
                text-shadow: 0 0 10px red;
                cursor: pointer;
            }

            .rankvariable {
                grid-template-columns: auto 1fr;
                width:185px;
                border-width: 2px 2px 3px 3px;
                border-radius:~"4% 95% 6% 95% / 95% 4% 92% 5%";
                transform: rotate(-1deg);
                border-color: black;
            }

            .rankvariable:hover {
                transform: rotate(1deg);
                text-shadow: 0 0 10px red;
                cursor: pointer;                
            }

            .poolstyle {
                grid-template-columns: auto 36px 36px;
                width:185px;
                border-width: 2px 2px 3px 3px;
                border-radius:~"4% 95% 6% 95% / 95% 4% 92% 5%";
                transform: rotate(-1deg);
                border-color: black;

                .value {
                    height    : auto;
                    background: none;
                }
            }
                .poolstyle:hover {
                    transform: rotate(1deg);
                    text-shadow: 0 0 10px red;
                    cursor: pointer;                    
                }
        }

        .threespan {
            .col3();

            .header {
                grid-column: span 3;
            }

            .variable,
            .poolstyle {
                grid-column: span 1;
                width:185px;
                border-width: 2px 2px 3px 3px;
                border-radius:~"4% 95% 6% 95% / 95% 4% 92% 5%";
                transform: rotate(-1deg);
                border-color: black;
            }
        }

        .twospan {
            .col2();

            .header {
                grid-column: span 2;
            }
        }

        .nospan {
            .col1();

            .header {
                grid-column: span 1;
            }
        }
 
        .biography {
            background-color: #a9a9a9c7;
            min-height: 300px;
            resize    : none;
        }
   }
}