.owneditems {
    .col3();

    .owneditem {
        .roundedcard();
        .Ubuntu(bolder, smaller);
        display              : grid;
        grid-template-columns: 4fr 1fr;
        align-items: end;
    }

    .mod {
        display              : grid;
        grid-template-columns: 20px 1fr 20px 1fr;

        .name {
            grid-column: span 4;
        }
    }

    .var {
        display              : grid;
        grid-template-columns: 1fr 40px 40px;
    }
}