{{!-- ATTACK MODIFIERS --}} {{!-- DAMAGE MODIFIERS --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.attackmods")
secondlabel=(localize "grpga.sections.damagemods") itemtype="Modifier" sections="mixed" mod1="attack"
mod2="damage"}}
<div class="attackmods">
    {{> "systems/grpga/templates/partials/modifiers.hbs" section=attackdamagemods}}
</div>

{{!-- MELEE ATTACKS --}} {{!-- RANGED ATTACKS --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.melee")
secondlabel=(localize "grpga.sections.ranged") itemtype="Melee-Attack" seconditemtype="Ranged-Attack"
sections="double" mod1="" mod2=""}}

<div class="attacks item-list">
    {{#if (eq mode "d100")}}
    {{#each attacks as |item|}}
    <div class="item attack {{#if (eq item.type 'Melee-Attack')}}melee{{else}}ranged{{/if}}" data-item-id={{item._id}}
        title="{{item.data.notes}}">
        <label class="chatrender attackname draggable">{{item.name}}</label>
        <label class="rollable skill" data-name="{{item.name}}" data-roll={{numberFormat item.data.value decimals=0}}
            data-threat={{item.data.armourDiv}} data-type="attack" data-rolltype="{{item.data.minST}}"
            data-attacktable="{{item.data.damage}}" data-crittable="{{item.data.damageType}}"
            data-oerange="{{#if (eq item.type 'Melee-Attack')}}{{item.data.reach}}{{else}}{{item.data.rof}}{{/if}}"
            data-maxresult="{{#if (eq item.type 'Melee-Attack')}}{{item.data.weight}}{{else}}{{item.data.accuracy}}{{/if}}">
            Eff Skill: [{{numberFormat item.data.moddedvalue decimals=0}}]
        </label>
        <label></label>
    </div>
    {{/each}}
    {{else}}
    {{#each attacks as |item|}}
    <div class="item attack {{#if (eq item.type 'Melee-Attack')}}melee{{else}}ranged{{/if}}" data-item-id={{item._id}}
        title="{{item.data.notes}}">
        <label class="chatrender attackname draggable">{{item.name}}</label>
        <label class="rollable skill" data-name="{{item.name}}" data-roll={{numberFormat item.data.value decimals=0}}
            data-threat={{item.data.armourDiv}} data-type="attack">
            Eff Skill: [{{numberFormat item.data.moddedvalue decimals=0}}]
        </label>
        <label class="rollable damage" data-name="{{item.name}}" data-roll="{{item.data.damage}}"
            data-damagetype="{{item.data.damageType}}" data-armourdiv="{{item.data.armourDiv}}" data-type="damage">
            Dmg: {{item.data.damage}} {{item.data.damageType}}
        </label>
    </div>
    {{/each}}
    {{/if}}
</div>