{{!-- DEFENCE MODIFIERS --}}
{{#if (eq mode "d20")}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.d20.defences") itemtype="Modifier" sections="single" mod1="defence"}}
{{else if (eq mode "d100")}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.d100.defences") itemtype="Defence" sections="single" mod1="defence"}}
{{else if (eq mode "oats")}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.oats.defences") itemtype="Modifier" sections="single" mod1="defence"}}
{{else}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.3d6.defences") itemtype="Defence" secondlabel=(localize "grpga.sections.defencemods") seconditemtype="Modifier" sections="double" mod2="defence"}}
{{/if}}

<div class="defencemods item-list">
    <!-- The Global Modifier applies to every roll and then is reset -->
{{> "systems/grpga/templates/partials/gmod.hbs" data=data}}
{{> "systems/grpga/templates/partials/modifiers.hbs" section=defencemods}}
</div>

{{!-- DEFENCES --}}
<div class="defences item-list">
{{#if (or (eq mode "d100") (eq mode "d120") (eq mode "fragged"))}}
{{#each defences as |item|}}
    <div class="item defence" data-item-id={{item._id}} title="{{item.data.notes}}">
        <label class="rollable draggable" data-name="{{item.name}}" data-roll={{numberFormat item.data.value decimals=0}} data-type="{{item.data.category}}">
            [{{numberFormat item.data.moddedvalue decimals=0}}] {{item.name}}
        </label>
    </div>
{{/each}}
{{else}}
{{#each defences as |item|}}
    <div class="item defence" data-item-id={{item._id}} title="{{item.data.notes}}">
        <label class="rollable draggable" data-name="{{item.name}}" data-roll={{numberFormat item.data.value decimals=0}} data-type="defence">
            [{{numberFormat item.data.moddedvalue decimals=0}}] {{item.name}}
        </label>
    </div>
{{/each}}
{{/if}}

</div>