{{!-- Script Pane --}}
<div id="baseitems">
  <div class="item-controls">
    <div>
      <a class="item-control item-create" title="{{localize " grpga.tabs.scripts.createT"}}">
        <i class="fas fa-plus"></i> {{localize "grpga.tabs.scripts.create"}}
      </a>
    </div>
    <div>
      <a class="item-control item-export" title="{{localize " grpga.tabs.scripts.exportT"}}">
        <i class="fas fa-minus"></i> {{localize "grpga.tabs.scripts.export"}}
      </a>
    </div>
    <div>
      <a class="item-control importText" title="Import data from formatted text.">
        <i class="fas fa-plus"></i> Import Text Format
      </a>
    </div>
    <div>
      <a class="item-control importXML" title="Import data from XML.">
        <i class="fas fa-plus"></i> Import XML Format
      </a>
    </div>
    <div>
      <a class="item-control importHeroLab" title="Import data from formatted text." type="hidden">
        <i class="fas fa-plus"></i> Import Hero Lab Format
      </a>
    </div>
  </div>
  <textarea rows="24" name="data.itemscript">{{actor.data.itemscript}}</textarea>
</div>
