        {{!-- Owned Advantages Tab --}}
        <div class="tab advantages" data-group="primary" data-tab="advantages">
            <ol class="items-list">
                <li class="item flexrow item-header">
                  <div class="item-image"></div>
                  <div class="item-name">{{localize "grpga.phrases.mnm.item.name"}}</div>
                  <div class="item-rank">{{localize "grpga.phrases.mnm.item.rank"}}</div>
                  <div class="item-effect">{{localize "grpga.phrases.mnm.item.effect"}}</div>
                  <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="Advantage"><i class="fas fa-plus"></i>{{localize "grpga.phrases.mnm.item.addAdvan"}}</a>
                  </div>
                </li>

            {{#each actor.Advantage as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    <h4 class="item-name">{{item.name}}</h4>
                    <h4 class="item-rank">{{data.rank}}</h4>
                    <h4 class="item-effect">{{data.effect}}</h4>
                </li>
            {{/each}}
            </ol>
            <div class="tab advantagesTotal flexrow">
              <label>{{localize "grpga.phrases.mnm.item.TPS"}}:</label>
              <input name="data.advantagesTotal" type="number" value="{{advantagesTotal}}" data-dtype="Number" placeholder="{{localize "grpga.phrases.mnm.item.TPS"}}" readonly/>
            </div>
        </div>