{{!-- Origins Tab --}}
<div class="mnm-section">
    <div class="sectionheader collapsible" data-section="disadvantages">
        <label>{{localize "grpga.sections.mnm.personal"}}</label>
    </div>
    <div class="content" style="display: {{actor.data.sections.disadvantages}}">
        <div class="fourspan">
            <div class="personal double">
              <span>Gender:</span>
              <input class="value" type="text" value="{{data.personal.gender}}" name="data.personal.gender" />
            </div>
            <div class="personal double">
              <span>Age:</span>
              <input class="value" type="text" value="{{data.personal.age}}" name="data.personal.age" />
            </div>
            <div class="personal double">
              <span>Height:</span>
              <input class="value" type="text" value="{{data.personal.height}}" name="data.personal.height" />
            </div>
            <div class="personal double">
              <span>Weight:</span>
              <input class="value" type="text" value="{{data.personal.weight}}" name="data.personal.weight" />
            </div>
            <div class="personal double">
              <span>Hair:</span>
              <input class="value" type="text" value="{{data.personal.hair}}" name="data.personal.hair" />
            </div>
            <div class="personal double">
              <span>Eyes:</span>
              <input class="value" type="text" value="{{data.personal.eyes}}" name="data.personal.eyes" />
            </div>
            <div class="personal double">
              <span>Description:</span>
              <input class="value" type="text" value="{{data.personal.description}}" name="data.personal.description" />
            </div>
        </div>
        <div class="twospan item-list">
            <div class="header">
                <label>{{localize "grpga.sections.mnm.disadvantages"}}</label>
            </div>
            {{#each disadvantages as |item|}}
            <div class="item notes" data-item-id={{item._id}}>
                <label class="item-edit draggable"><b>{{item.name}}:</b> {{item.data.notes}}</label>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<hr>

<div class="mnm-section">
    <div class="sectionheader collapsible" data-section="notes">
        <label>{{localize "grpga.sections.mnm.biography"}}</label>
    </div>
    <div class="content" style="display: {{actor.data.sections.notes}}">

        <div class="nospan biography">
            {{!--<textarea class="biography" name="data.biography">{{data.biography}}</textarea>--}}
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
            {{!--#if editable}}
            <button type="submit" name="submit"><i class="fas fa-feather-alt"></i> {{ localize
                "JOURNAL.Submit"}}</button>
            {{/if--}}
        </div>
    </div>
</div>
<hr>

<div class="mnm-section">
    <div class="sectionheader collapsible" data-section="notes">
      <label>{{localize "grpga.sections.mnm.notes"}}</label>
    </div>
    <div class="content" style="display: {{actor.data.sections.notes}}">
      <div class="nospan biography">
        {{!--<textarea class="biography" name="data.biography">{{data.biography}}</textarea>--}}
        {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
        {{!--#if editable}}
        <button type="submit" name="submit"><i class="fas fa-feather-alt"></i> {{ localize "JOURNAL.Submit"}}</button>
        {{/if--}}
      </div>
    </div>
  </div>