      {{!-- Combat Tab --}}
      <div class="tab combat" data-tab="combat" data-group="primary">

        <div class="mnm-section">
          <div class="sectionheader collapsible" data-section="defences">
            <label>{{localize "grpga.sections.mnm.defences"}}</label>
          </div>
          <div class="content" style="display: {{actor.data.sections.defences}}">

            {{#if data.useAlternity}}
            <div class="threespan item-list">
              {{#each defences as |item|}}
              <div class="item entry" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="rollable draggable" data-name="{{item.name}}" data-roll={{item.data.value}} data-modtype="defence" data-type="modlist"> {{item.name}} - {{item.data.value}} </label>
                <label>[ {{numberFormat item.data.stepvalue sign=true}} ]</label>
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.data.value}} data-type="{{item.data.category}}"> <i class="fas fa-dice-d20"></i> </a>
              </div>
              {{/each}}
            </div>
            {{else if data.useSineNomine}}
            <div class="threespan item-list">
              {{#each defences as |item|}}
              <div class="item entry" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="rollable draggable" data-name="{{item.name}}" data-roll={{item.data.value}} data-modtype="defence" data-type="modlist"> {{item.name}} </label>
                <label>[ {{item.data.moddedvalue}} ]</label>
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.data.value}} data-type="{{item.data.category}}"> <i class="fas fa-dice-d20"></i> </a>
              </div>
              {{/each}}
            </div>
            {{else}}
            <div class="threespan item-list">
              {{#each defences as |item|}}
              <div class="item entry" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="rollable draggable" data-name="{{item.name}}" data-roll={{item.data.value}} data-modtype="defence" data-type="modlist"> {{item.name}} </label>
                <label>[ {{item.data.moddedvalue}} ]</label>
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.data.value}} data-type="{{item.data.category}}"> <i class="fas fa-dice-d20"></i> </a>
              </div>
              {{/each}}
            </div>
            {{/if}}

            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "grpga.sections.mnm.blocks"}}</label>
              </div>
              {{#each blocks as |item|}}
              <div class="item entry" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="rollable draggable" data-name="{{item.name}}" data-roll={{item.data.value}} data-modtype="defence" data-type="modlist"> {{item.name}} </label>
                <label>[ {{item.data.moddedvalue}} ]</label>
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.data.value}} data-type="{{item.data.category}}"> <i class="fas fa-dice-d20"></i> </a>
              </div>
              {{/each}}
            </div>
            <div class="fourspan item-list">
              {{#each defencevariables as |item|}}
              {{#if (eq item.type "Variable")}}
              <div class="item variable" title="{{item.data.notes}}" data-item-id={{item._id}}>
                <label class="variablename draggable item-edit">{{item.name}}</label>
                <select class="select iteminput" data-name="data.label">
                  {{#select item.data.label}}
                  {{#each item.data.entries as |entry e|}}
                  {{#if (ne @index 0)}}
                  <option value="{{entry.label}}">{{entry.label}}</option>
                  {{/if}}
                  {{/each}}
                  {{/select}}
                </select>
                <label class="value"></label>
              </div>
              {{else}}
              <div class="item poolstyle" title="{{item.data.notes}}" data-item-id={{item._id}}>
                <label class="poolname item-edit draggable">{{item.name}}:</label>
                <input class="value iteminput pool" type="text" value={{item.data.value}} data-dtype="Number" data-name="data.value" data-abbr="{{item.data.abbr}}" />
                <span>/ {{item.data.max}}</span>
              </div>
              {{/if}}
              {{/each}}
            </div>

            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "grpga.sections.mnm.defencemods"}}</label>
              </div>
              {{> "systems/grpga/templates/partials/mnm-gmod.hbs" data=data}}
              {{#each defencemods as |item|}}
              {{#if item.data.alwaysOn}}
              {{else}}
              <div class="item mnm-modifier{{#if item.data.inEffect}} inEffect{{/if}}" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="item-toggle draggable">{{item.name}}</label>
              </div>
              {{/if}}
              {{/each}}
            </div>
          </div>
        </div>
        <hr>

        <div class="mnm-section">
          <div class="sectionheader collapsible" data-section="attacks">
            <label>{{localize "grpga.sections.attacks"}}</label>
          </div>
          <div class="content" style="display: {{actor.data.sections.attacks}}">

            <div class="twospan item-list">
              {{#each attacks as |item|}}
              <div class="item attackentry {{#if (eq item.type 'Melee-Attack')}}melee{{else}}ranged{{/if}}" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="rollable draggable" data-name="{{item.name}}" data-roll={{item.data.value}} data-modtype="attack" data-type="modlist">{{item.name}}</label>
                <label>[{{item.data.moddedvalue}}]</label>
                <label class="rollable" data-name="{{item.name}}" data-roll="{{item.data.damage}}" data-type="damage">{{item.data.damage}}</label>
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.data.value}} data-threat={{item.data.armourDiv}} data-type="attack"> <i class="fas fa-dice-d20"></i></a>
              </div>
              {{/each}}
            </div>
            <div class="fourspan item-list">
              {{#each attackvariables as |item|}}
              {{#if (eq item.type "Variable")}}
              <div class="item variable" title="{{item.data.notes}}" data-item-id={{item._id}}>
                <label class="variablename draggable item-edit">{{item.name}}</label>
                <select class="select iteminput" data-name="data.label">
                  {{#select item.data.label}}
                  {{#each item.data.entries as |entry e|}}
                  {{#if (ne @index 0)}}
                  <option value="{{entry.label}}">{{entry.label}}</option>
                  {{/if}}
                  {{/each}}
                  {{/select}}
                </select>
                <label class="value"></label>
              </div>
              {{else}}
              <div class="item poolstyle" title="{{item.data.notes}}" data-item-id={{item._id}}>
                <label class="poolname item-edit draggable">{{item.name}}:</label>
                <input class="value iteminput pool" type="text" value={{item.data.value}} data-dtype="Number" data-name="data.value" data-abbr="{{item.data.abbr}}" />
                <span>/ {{item.data.max}}</span>
              </div>
              {{/if}}
              {{/each}}
            </div>

            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "grpga.sections.attackmods"}}</label>
              </div>
              {{#each attackdamagemods as |item|}}
              {{#if item.data.alwaysOn}}
              {{else}}
              <div class="item mnm-modifier{{#if item.data.inEffect}} inEffect{{/if}}" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="item-toggle draggable">{{item.name}}</label>
              </div>
              {{/if}}
              {{/each}}
            </div>
          </div>
        </div>

      </div>
