{{!-- Skills Tab --}}
      <div class="tab skills" data-tab="skills" data-group="primary">

        <div class="mnm-section">
          <div class="sectionheader collapsible" data-section="skills">
            <label>{{localize "grpga.sections.mnm.checks"}}</label>
          </div>
          <div class="content" style="display: {{actor.data.sections.skills}}">

            {{#if data.useAlternity}} 
            <div class="twospan item-list">
              {{#each skills as |item|}}
              <div class="item entry" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="rollable draggable" data-name="{{item.name}}" data-roll={{item.data.value}} data-modtype="defence" data-type="modlist"> {{item.name}} - {{item.data.value}} </label>
                <label>[ {{numberFormat item.data.stepvalue sign=true}} ]</label>
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.data.value}} data-type="{{item.data.category}}"> <i class="fas fa-dice-d20"></i> </a>
              </div>
              {{/each}}
            </div>
            {{else}}
            <div class="threespan item-list">
              {{#each skills as |item|}}
              {{#if (eq item.data.category "check")}}
              <div class="item entry" data-item-id={{item._id}} title="{{item.data.moddedformula}}: {{item.data.notes}}">
                <label class="rollable draggable" data-name="{{item.name}}" data-roll={{item.data.moddedformula}} data-type={{item.data.category}}>
                  {{item.name}}
                </label>
                <label></label>
                <label></label>
              </div>
              {{else}}
              <div class="item entry" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="rollable draggable" data-name="{{item.name}}" data-roll={{item.data.value}} data-modtype={{item.data.category}} data-type="modlist">
                  {{item.name}}
                </label>
                <label>[{{item.data.moddedvalue}}]</label>
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.data.value}} data-type={{item.data.category}}>
                  <i class="fas fa-dice-d20"></i>
                </a>
              </div>
              {{/if}}
              {{/each}}
            </div>
            {{/if}}
            <div class="fourspan item-list">
              {{#each skillvariables as |item|}}
              {{#if (eq item.type "Variable")}}
              <div class="item variable" title="{{item.data.notes}}" data-item-id={{item._id}}>
                <label class="variablename draggable item-edit">{{item.name}}</label>
                <select class="select iteminput" data-name="data.label">
                  {{#select item.data.label}}
                  {{#each item.data.entries as |entry e|}}
                  {{#if (ne @index 0)}}
                  <option value="{{entry.label}}">{{entry.label}}</option>
                  {{/if}}
                  {{/each}}
                  {{/select}}
                </select>
                <label class="value"></label>
              </div>
              {{else}}
              <div class="item poolstyle" title="{{item.data.notes}}" data-item-id={{item._id}}>
                <label class="poolname item-edit draggable">{{item.name}}:</label>
                <input class="value iteminput pool" type="text" value={{item.data.value}} data-dtype="Number" data-name="data.value" data-abbr="{{item.data.abbr}}" />
                <span>/ {{item.data.max}}</span>
              </div>
              {{/if}}
              {{/each}}
            </div>

            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "grpga.sections.mnm.checkmods"}}</label>
              </div>
              {{> "systems/grpga/templates/partials/mnm-gmod.hbs" data=data}}
              {{#each checkskillspellmods as |item|}}
              {{#if item.data.alwaysOn}}
              {{! do not display these}}
              {{else}}
              <div class="item mnm-modifier{{#if item.data.inEffect}} inEffect{{/if}}" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="item-toggle draggable">{{item.name}}</label>
              </div>
              {{/if}}
              {{/each}}
            </div>
            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "grpga.sections.mnm.techniques"}}</label>
              </div>
              {{#each techniques as |item|}}
              <div class="item entry" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="rollable draggable" data-name="{{item.name}}" data-roll="{{item.data.notes}}" data-type="technique">
                  {{item.name}}
                </label>
                <label></label>
                <label></label>
              </div>
              {{/each}}
            </div>
            <div class="fourspan item-list">
              {{#each spellvariables as |item|}}
              {{#if (eq item.type "Variable")}}
              <div class="item variable" title="{{item.data.notes}}" data-item-id={{item._id}}>
                <label class="variablename draggable item-edit">{{item.name}}</label>
                <select class="select iteminput" data-name="data.label">
                  {{#select item.data.label}}
                  {{#each item.data.entries as |entry e|}}
                  {{#if (ne @index 0)}}
                  <option value="{{entry.label}}">{{entry.label}}</option>
                  {{/if}}
                  {{/each}}
                  {{/select}}
                </select>
                <label class="value"></label>
              </div>
              {{else}}
              <div class="item poolstyle" title="{{item.data.notes}}" data-item-id={{item._id}}>
                <label class="poolname item-edit draggable">{{item.name}}:</label>
                <input class="value iteminput pool" type="text" value={{item.data.value}} data-dtype="Number" data-name="data.value" data-abbr="{{item.data.abbr}}" />
                <span>/ {{item.data.max}}</span>
              </div>
              {{/if}}
              {{/each}}
            </div>
            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "grpga.sections.mnm.rms"}}</label>
              </div>
              {{#each rms as |item|}}
              <div class="item entry" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="draggable" data-name="{{item.name}}" data-type="rms">
                  {{item.name}}
                </label>
                <label></label>
                <label>[{{numberFormat item.data.moddedvalue decimals=0}}]</label>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>