{{!-- Owned Items Tab --}}
      <div class="tab items" data-tab="items" data-group="primary">

        {{!-- PRIMARY ATTRIBUTES --}}
        <div class="mnm-section">
          <div class="sectionheader collapsible" data-section="primaryattributes">
            {{> "systems/grpga/templates/partials/mnm-sectiontitles.hbs" label=(localize "grpga.sections.primaryattributes") itemtype="Primary-Attribute" sections="single"}}
          </div>
          <div class="content" style="display: {{actor.data.sections.primaryattributes}}">
            <div class="nospan item-list">
              {{> "systems/grpga/templates/partials/mnm-owneditems.hbs" section=primaryattributes}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- HIT LOCATION --}}{{!-- WOUNDS --}}
        <div class="mnm-section">
          <div class="sectionheader collapsible" data-section="hitlocations">
            {{> "systems/grpga/templates/partials/mnm-sectiontitles.hbs" label=modeSpecificText.hitlocations itemtype="Hit-Location" sections="single"}}
          </div>
          <div class="content" style="display: {{actor.data.sections.hitlocations}}">
            <div class="nospan item-list">
              {{> "systems/grpga/templates/partials/mnm-owneditems.hbs" section=hitlocations}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- SKILLS, INFORMATION & REFERENCE VALUES --}}
        <div class="mnm-section">
          <div class="sectionheader collapsible" data-section="skills">
            <h2>{{localize "grpga.sections.mnm.checks"}}</h2>
          </div>
          <div class="content" style="display: {{actor.data.sections.skills}}">
            <div class="nospan item-list">
              {{!-- VARIABLE FORMULA --}} {{!-- D20 SKILLS --}} {{!-- D100 SKILLS --}}
              <div class="header">
                {{> "systems/grpga/templates/partials/mnm-sectiontitles.hbs" label=(localize "grpga.sections.mnm.checks") itemtype="Rollable" category="skill" sections="single"}}
              </div>
              {{> "systems/grpga/templates/partials/mnm-owneditems.hbs" section=skills}}
              {{!-- INFORMATION TO SHARE --}}
              <div class="header">
                {{> "systems/grpga/templates/partials/mnm-sectiontitles.hbs" label=(localize "grpga.sections.mnm.techniques") itemtype="Rollable" category="technique" sections="single"}}
              </div>
              {{> "systems/grpga/templates/partials/mnm-owneditems.hbs" section=techniques}}
              {{!-- REFERENCE VALUE --}}
              <div class="header">
                {{> "systems/grpga/templates/partials/mnm-sectiontitles.hbs" label=(localize "grpga.sections.mnm.rms") itemtype="Rollable" category="rms" sections="single"}}
              </div>
              {{> "systems/grpga/templates/partials/mnm-owneditems.hbs" section=rms}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- SAVING THROWS & DEFENCES --}}
        <div class="mnm-section">
          <div class="sectionheader collapsible" data-section="savesdefences">
            <h2>{{localize "grpga.sections.mnm.defences"}}</h2>
          </div>
          <div class="content" style="display: {{actor.data.sections.savesdefences}}">
            <div class="nospan item-list">
              {{!-- DEFENCES --}}
              <div class="header">
                {{> "systems/grpga/templates/partials/mnm-sectiontitles.hbs" label=(localize "grpga.sections.mnm.defences") itemtype="Defence" category="dodge" sections="single"}}
              </div>
              {{> "systems/grpga/templates/partials/mnm-owneditems.hbs" section=defences}}
              {{!-- VALUES TO SHARE --}}
              <div class="header">
                {{> "systems/grpga/templates/partials/mnm-sectiontitles.hbs" label=(localize "grpga.sections.mnm.blocks") itemtype="Defence" category="block" sections="single"}}
              </div>
              {{> "systems/grpga/templates/partials/mnm-owneditems.hbs" section=blocks}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- TRAITS --}}
        <div class="mnm-section">
          <div class="sectionheader collapsible" data-section="traits">
            <h2>{{localize "grpga.sections.mnm.traits"}}</h2>
          </div>
          <div class="content" style="display: {{actor.data.sections.traits}}">
            <div class="nospan item-list">
              {{!-- ADVANTAGES --}}
              <div class="header">
                {{> "systems/grpga/templates/partials/mnm-sectiontitles.hbs" label=modeSpecificText.advantages itemtype="Trait" category="advantage" sections="single"}}
              </div>
              {{> "systems/grpga/templates/partials/mnm-owneditems.hbs" section=advantages}}
              {{!-- DISADVANTAGES --}}
              <div class="header">
                {{> "systems/grpga/templates/partials/mnm-sectiontitles.hbs" label=modeSpecificText.disadvantages itemtype="Trait" category="disadvantage" sections="single"}}
              </div>
              {{> "systems/grpga/templates/partials/mnm-owneditems.hbs" section=disadvantages}}
              {{!-- PERKS --}}
              <div class="header">
                {{> "systems/grpga/templates/partials/mnm-sectiontitles.hbs" label=modeSpecificText.perks itemtype="Trait" category="perk" sections="single"}}
              </div>
              {{> "systems/grpga/templates/partials/mnm-owneditems.hbs" section=perks}}
              {{!-- QUIRKS --}}
              <div class="header">
                {{> "systems/grpga/templates/partials/mnm-sectiontitles.hbs" label=modeSpecificText.quirks itemtype="Trait" category="quirk" sections="single"}}
              </div>
              {{> "systems/grpga/templates/partials/mnm-owneditems.hbs" section=quirks}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- ATTACKS --}}
        <div class="mnm-section">
          <div class="sectionheader collapsible" data-section="melee">
            {{> "systems/grpga/templates/partials/mnm-sectiontitles.hbs" label=(localize "grpga.sections.melee") secondlabel=(localize "grpga.sections.ranged") itemtype="Melee-Attack" seconditemtype="Ranged-Attack" sections="double" mod1="" mod2=""}}
          </div>
          <div class="content" style="display: {{actor.data.sections.melee}}">
            <div class="nospan item-list">
              {{> "systems/grpga/templates/partials/mnm-owneditems.hbs" section=attacks}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- POOLS --}}
        <div class="mnm-section">
          <div class="sectionheader collapsible" data-section="pools">
            {{> "systems/grpga/templates/partials/mnm-sectiontitles.hbs" label=(localize "grpga.sections.pools") itemtype="Pool" sections="single"}}
          </div>
          <div class="content" style="display: {{actor.data.sections.pools}}">
            <div class="nospan item-list">
              {{> "systems/grpga/templates/partials/mnm-owneditems.hbs" section=pools}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- MODIFIERS --}}
        <div class="mnm-section">
          <div class="sectionheader collapsible" data-section="modifiers">
            {{> "systems/grpga/templates/partials/mnm-sectiontitles.hbs" label=(localize "grpga.sections.modifiers") itemtype="Modifier" sections="single"}}
          </div>
          <div class="content" style="display: {{actor.data.sections.modifiers}}">
            <div class="nospan item-list">
              {{> "systems/grpga/templates/partials/mnm-owneditems.hbs" section=modifiers}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- VARIABLES --}}
        <div class="mnm-section">
          <div class="sectionheader collapsible" data-section="variables">
            {{> "systems/grpga/templates/partials/mnm-sectiontitles.hbs" label=(localize "grpga.sections.variables") itemtype="Variable" sections="single"}}
          </div>
          <div class="content" style="display: {{actor.data.sections.variables}}">
            <div class="nospan item-list">
              {{> "systems/grpga/templates/partials/mnm-owneditems.hbs" section=variables}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- EQUIPMENT --}}
        <div class="mnm-section">
          <div class="sectionheader collapsible" data-section="equipment">
            {{> "systems/grpga/templates/partials/mnm-sectiontitles.hbs" label=(localize "grpga.sections.equipment") itemtype="Equipment" sections="single"}}
          </div>
          <div class="content" style="display: {{actor.data.sections.equipment}}">
            <div class="nospan item-list">
              {{> "systems/grpga/templates/partials/mnm-owneditems.hbs" section=equipment}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- CONTAINERS --}}
        <div class="mnm-section">
          <div class="sectionheader collapsible" data-section="containers">
            {{> "systems/grpga/templates/partials/mnm-sectiontitles.hbs" label=(localize "grpga.sections.containers") itemtype="Container" sections="single"}}
          </div>
          <div class="content" style="display: {{actor.data.sections.containers}}">
            <div class="nospan item-list">
              {{> "systems/grpga/templates/partials/mnm-owneditems.hbs" section=containers}}
            </div>
          </div>
        </div>

      </div>