{{#if (or (eq mode "vsd") (eq mode "fragged") (eq mode "d100") (eq mode "d120"))}}
<div class="mnm-global-modifier poolstyle">
    {{~localize 'grpga.actor.gmod.name'~}}
    <input class="value iteminput" type="text" value={{actor.data.gmod.value}} data-dtype="Number"
        data-name="data.gmod.value" data-abbr="{{localize 'grpga.actor.gmod.abbr'}}" />
</div>
{{else}}
<div class="mnm-global-modifier minus-content-plus">
    <span class="far fa-minus-square minus"><input type="hidden" name="gmod" value=-1 /></span>
    <label for="data.gmod.value" name="data.gmod.value" class="counter">{{actor.data.gmod.value}}</label>
    <span class="far fa-plus-square plus"><input type="hidden" name="gmod" value=1 /></span>
    <label title="{{localize " grpga.actor.gmod.name"}}">{{localize "grpga.actor.gmod.abbr"}}</label>
</div>
{{/if}}