<hr>
<h3>{{localize "grpga.item.notes"}}</h3>
<div class="tab">
    <textarea rows="18" name="data.notes">{{{data.notes}}}</textarea>
</div>
<script>
    $("input").focusin(function () {
        $(this).select();
    });
    $("textarea").focusin(function () {
        $(this).select();
    }); 
</script>