{{!-- PRIMARY ATTRIBUTES --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.primaryattributes")
itemtype="Primary-Attribute" sections="single"}}
{{> "systems/grpga/templates/partials/owneditems.hbs" section=primaryattributes}}

{{!-- EQUIPMENT --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.equipment")
itemtype="Equipment" sections="single"}}
{{> "systems/grpga/templates/partials/owneditems.hbs" section=equipment}}

{{#if (ne mode "d100")}}
{{!-- HIT LOCATION --}}{{!-- WOUNDS --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=modeSpecificText.hitlocations
itemtype="Hit-Location" sections="single"}}
{{> "systems/grpga/templates/partials/owneditems.hbs" section=hitlocations}}
{{/if}}

{{!-- SKILLS --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.skills")
itemtype="Rollable" category="skill" sections="single"}}
{{> "systems/grpga/templates/partials/owneditems.hbs" section=skills}}

{{#if (eq mode "3d6")}}
{{!-- TECHNIQUES --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.techniques")
itemtype="Rollable" category="technique" sections="single"}}
{{> "systems/grpga/templates/partials/owneditems.hbs" section=techniques}}
{{/if}}

{{!-- SPELLS --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.spells")
itemtype="Rollable" category="spell" sections="single"}}
{{> "systems/grpga/templates/partials/owneditems.hbs" section=spells}}

{{#if (eq mode "3d6")}}
{{!-- RITUAL MAGIC SPELLS --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.rms")
itemtype="Rollable" category="rms" sections="single"}}
{{> "systems/grpga/templates/partials/owneditems.hbs" section=ritualmagicspells}}
{{/if}}

{{!-- ARMOUR CLASS --}}{{!-- CHECKS --}}{{!-- DEFENSIVE BONUSES --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=modeSpecificText.checks
itemtype="Rollable" category="check" sections="single"}}
{{> "systems/grpga/templates/partials/owneditems.hbs" section=checks}}

{{!-- FEATS --}}{{!-- ADVANTAGES --}}{{!-- NIL --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=modeSpecificText.advantages
itemtype="Trait" category="advantage" sections="single"}}
{{> "systems/grpga/templates/partials/owneditems.hbs" section=advantages}}

{{!-- WEAKNESSES --}}{{!-- DISADVANTAGES --}}{{!-- PASSIONS --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=modeSpecificText.disadvantages
itemtype="Trait" category="disadvantage" sections="single"}}
{{> "systems/grpga/templates/partials/owneditems.hbs" section=disadvantages}}

{{!-- RACIAL ABILITIES --}}{{!-- PERKS --}}{{!-- KIN SPECIAL TRAITS --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=modeSpecificText.perks
itemtype="Trait" category="perk" sections="single"}}
{{> "systems/grpga/templates/partials/owneditems.hbs" section=perks}}

{{!-- CLASS ABILITIES --}}{{!-- QUIRKS --}}{{!-- BACKGROUND --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=modeSpecificText.quirks
itemtype="Trait" category="quirk" sections="single"}}
{{> "systems/grpga/templates/partials/owneditems.hbs" section=quirks}}

{{!-- MELEE ATTACKS --}}{{!-- RANGED ATTACKS --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.melee")
secondlabel=(localize "grpga.sections.ranged") itemtype="Melee-Attack" seconditemtype="Ranged-Attack"
sections="double" mod1="" mod2=""}}
{{> "systems/grpga/templates/partials/owneditems.hbs" section=attacks}}

{{!-- SAVING THROWS --}}{{!-- DEFENCES --}}{{!-- SAVES & VARIOUS --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=modeSpecificText.defences
itemtype="Defence" sections="single"}}
{{> "systems/grpga/templates/partials/owneditems.hbs" section=defences}}

{{!-- POOLS --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.pools")
itemtype="Pool" sections="single"}}
{{> "systems/grpga/templates/partials/owneditems.hbs" section=pools}}

{{!-- MODIFIERS --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.modifiers")
itemtype="Modifier" sections="single"}}
{{> "systems/grpga/templates/partials/owneditems.hbs" section=modifiers}}

{{!-- VARIABLES --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.variables")
itemtype="Variable" sections="single"}}
{{> "systems/grpga/templates/partials/owneditems.hbs" section=variables}}

{{!-- CONTAINERS --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.containers")
itemtype="Container" sections="single"}}
{{> "systems/grpga/templates/partials/owneditems.hbs" section=containers}}