<div class="owneditems item-list">

	{{#each section as |item|}}
	{{#if (and (eq item.type "Hit-Location") (eq mode "3d6"))}}
	<div class="item owneditem" data-item-id={{item._id}} title="
Damage: {{item.data.damage}}
DR: {{item.data.injuryType}}
To Cripple: {{item.data.toCripple}}
Crippled: {{item.data.crippled}}
To Hit Pen: {{item.data.toHitPenalty}}
">
		<label class="name draggable item-edit">{{item.name}}</label>
	</div>

	{{else if (eq item.type "Primary-Attribute")}}
	<div class="item owneditem" data-item-id={{item._id}} title="{{item.data.notes}}">
		<label class="name draggable item-edit">{{item.name}}</label>
		<label class="value">{{item.data.attr}}</label>
	</div>
	{{else if (eq item.type "Modifier")}}
	<div class="item owneditem mod" data-item-id={{item._id}} title="{{item.data.notes}}">
		<label class="name draggable item-edit">{{item.name}}</label>
		<input class="value iteminput" type="checkbox" {{checked item.data.alwaysOn}} data-dtype="Boolean" data-name="data.alwaysOn" />
		<span> Perm</span>
		<input class="value iteminput" type="checkbox" {{checked item.data.temporary}} data-dtype="Boolean" data-name="data.temporary" />
		<span> Temp</span>
	</div>
	{{else if (eq item.type "Variable")}}
	<div class="item owneditem var" data-item-id={{item._id}} title="{{item.data.notes}}">
		<label class="name draggable item-edit">{{item.name}}</label>
		<input class="value iteminput" type="checkbox" {{checked item.data.temporary}} data-dtype="Boolean" data-name="data.temporary" />
		<span> Temp</span>
	</div>
	{{else if item.data.formula}}
	<div class="item owneditem" data-item-id={{item._id}} title="{{item.data.notes}}">
		<label class="name draggable item-edit">{{item.name}}</label>
		<label class="value">{{item.data.formula}}</label>
	</div>
	{{else}} {{! Everything else }}
	<div class="item owneditem" data-item-id={{item._id}} title="{{item.data.notes}}">
		<label class="name draggable item-edit">{{item.name}}</label>
		<label class="value">{{item.data.value}}</label>
	</div>
	{{/if}}
	{{/each}}
</div>
