{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.pools") itemtype="Pool" sections="single"}}

<!-- Tracked -->
<div class="tracked item-list">
{{#each pools as |item|}}
    <div class="trackedpool item" title="{{item.name}}: {{item.data.notes}}" data-item-id={{item._id}}>
        <label class="abbr draggable">{{item.data.abbr}} </label>
        <i class="far fa-plus-square plus"> <input class="pool" type="hidden" name="{{item.data.abbr}}" value=1 /> </i>
        <i class="far fa-minus-square minus"> <input class="pool" type="hidden" name="{{item.data.abbr}}" value=-1 /> </i>

        <label class="valuelabel"> {{localize 'grpga.actor.pool.valuelabel'}} </label>
        <input class="value iteminput pool" type="text" value={{item.data.value}} data-dtype="Number" data-name="data.value" data-abbr="{{item.data.abbr}}"/>

        <label class="maxlabel"> {{localize 'grpga.actor.pool.maxlabel'}} </label>
        <label class="max"> {{item.data.max}} </label>
    </div>
{{/each}}
</div>