{{!-- PRIMARY ATTRIBUTE MODIFIERS --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.primods")
itemtype="Modifier" sections="single" mod1="primary"}}
<div class="primarymods">
    <!-- The Global Modifier applies to every roll and then is reset -->
{{> "systems/grpga/templates/partials/gmod.hbs" data=data}}
{{> "systems/grpga/templates/partials/modifiers.hbs" section=primods}}
</div>

{{!-- PRIMARY ATTRIBUTES --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.primaryattributes")
itemtype="Primary-Attribute" sections="single"}}
<div class="primaries item-list">
{{#each primaryattributes as |item|}}
    <div class="item primary" data-item-id={{item._id}} title="{{item.data.notes}}">
{{#if (eq ../mode "3d6" )}}
        <label class="rollable draggable" data-name="{{item.name}}" data-roll={{item.data.value}} data-type="check">
            [{{item.data.value}}] {{item.name}}
        </label>
{{else if (eq ../mode "d100" )}}
        <label class="rollable draggable" data-name="{{item.name}}" data-roll={{item.data.value}} data-type="check">
            [{{numberFormat item.data.value decimals=0 sign=true}}] {{item.name}}
        </label>
{{else}}
        <label class="rollable draggable" data-name="{{item.name}}" data-roll={{item.data.value}} data-type="check">
{{item.data.moddedvalue}} [{{numberFormat item.data.value decimals=0 sign=true}}] - {{item.name}}
        </label>
{{/if}}
    </div>
{{/each}}
</div>