{{#if (eq mode "d20")}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.d20.reaction") itemtype="Modifier" sections="single" mod1="reaction"}}
<div class="reactions item-list">
    {{#each checks as |item|}}
    {{#if (or (eq item.name "Armour Class") (eq item.name "Flatfooted Armour Class") (eq item.name "Touch Armour Class") ) }}
    <div class="item reaction" data-item-id={{item._id}} title="{{item.data.notes}}">
        <label class="rollable draggable" data-name="{{item.name}}" data-roll="{{numberFormat item.data.value decimals=0}}" data-type="reaction">
            [{{numberFormat item.data.moddedvalue decimals=0}}] {{item.name}} {{localize "grpga.item.rollable.3d6.check"}}
        </label>
    </div>
    {{/if}}
    {{/each}}
{{> "systems/grpga/templates/partials/modifiers.hbs" section=reactionmods}}
</div>
{{else if (eq mode "d100")}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.d100.reaction") itemtype="Modifier" sections="single" mod1="reaction"}}
<div class="reactions item-list">
    {{#each checks as |item|}}
    {{#if (or (eq item.name "Missile DB") (eq item.name "Melee DB") (eq item.name "Body") ) }}
    <div class="item reaction" data-item-id={{item._id}} title="{{item.data.notes}}">
        <label class="rollable draggable" data-name="{{item.name}}" data-roll="{{numberFormat item.data.value decimals=0}}" data-type="reaction">
            [{{numberFormat item.data.moddedvalue decimals=0}}] {{item.name}} {{localize "grpga.item.rollable.3d6.check"}}
        </label>
    </div>
    {{else if (eq item.name "Armor Type") }}
    <div class="item reaction" data-item-id={{item._id}} title="{{item.data.notes}}">
        <label class="draggable">
            [{{item.data.formula}}] {{item.name}}
        </label>
    </div>
    {{/if}}
    {{/each}}
{{> "systems/grpga/templates/partials/modifiers.hbs" section=reactionmods}}
</div>
{{else if (eq mode "oats")}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.oats.reaction") itemtype="Modifier" sections="single" mod1="reaction"}}
<div class="reactions item-list">
    {{#each checks as |item|}}
    {{#if (or (eq item.name "Armour Class") (eq item.name "Flatfooted Armour Class") (eq item.name "Touch Armour Class") ) }}
    <div class="item reaction" data-item-id={{item._id}} title="{{item.data.notes}}">
        <label class="rollable draggable" data-name="{{item.name}}" data-roll="{{numberFormat item.data.value decimals=0}}" data-type="reaction">
            [{{numberFormat item.data.moddedvalue decimals=0}}] {{item.name}} {{localize "grpga.item.rollable.3d6.check"}}
        </label>
    </div>
    {{/if}}
    {{/each}}
{{> "systems/grpga/templates/partials/modifiers.hbs" section=reactionmods}}
</div>
{{else}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.3d6.reaction") itemtype="Modifier" sections="single" mod1="reaction"}}
<div class="reactions item-list">
    {{#each checks as |item|}}
    {{#if (eq item.name "Reaction") }}
    <div class="item reaction" data-item-id={{item._id}} title="{{item.data.notes}}">
        <label class="rollable draggable" data-name="{{item.name}}" data-roll="{{numberFormat item.data.value decimals=0}}" data-type="reaction">
            [{{numberFormat item.data.moddedvalue decimals=0}}] {{item.name}} {{localize "grpga.item.rollable.3d6.check"}}
        </label>
    </div>
    {{/if}}
    {{/each}}
{{> "systems/grpga/templates/partials/modifiers.hbs" section=reactionmods}}
</div>
{{/if}}