{{!-- SKILL MODIFIERS --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.skillmods") itemtype="Modifier" sections="single" mod1="skill"}}
<div class="skillmods item-list">
{{#if (eq mode "3d6")}}
    <!-- The Global Modifier applies to every roll and then is reset -->
{{> "systems/grpga/templates/partials/gmod.hbs" data=data}}
{{/if}}
{{> "systems/grpga/templates/partials/modifiers.hbs" section=skillmods}}
{{> "systems/grpga/templates/partials/modifiers.hbs" section=skillspec}}
</div>

{{!-- SKILLS --}}{{!-- TECHNIQUES --}}
{{#if (eq mode "3d6")}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" sections="double" label=(localize "grpga.sections.skills") itemtype="Rollable" category="skill" secondlabel=(localize "grpga.sections.techniques") seconditemtype="Rollable" secondcategory="technique"}}
{{else}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" sections="single" label=(localize "grpga.sections.skills") itemtype="Rollable" category="skill"}}
{{/if}}
<div class="skills item-list">
{{#each skills as |item|}}
    <div class="item skill" data-item-id={{item._id}} title="{{item.data.notes}}">
        <label class="rollable draggable" data-name="{{item.name}}" data-roll={{numberFormat item.data.value decimals=0}} data-type="skill" data-rollType="oe">
            [{{numberFormat item.data.moddedvalue decimals=0}}] {{item.name}}
        </label>
    </div>
{{/each}}
</div>
