{{!-- VARIABLES --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.variables") itemtype="Variable"
sections="single"}}

<div class="variables item-list">
    {{#each variables as |item|}}
    <div class="item variable" title="{{item.data.notes}}" data-item-id={{item._id}}>
        <label class="variablename draggable">{{item.name}}</label>
        <label class="value">{{item.data.value}}</label>
        <select class="select iteminput" data-name="data.label">
            {{#select item.data.label}}
            {{#each item.data.entries as |entry e|}}
            {{#if (ne @index 0)}}
            <option value="{{entry.label}}">{{entry.label}}</option>
            {{/if}}
            {{/each}}
            {{/select}}
        </select>
    </div>
    {{/each}}
</div>