<div class="section">
    <div class="sectionheader collapsible" data-section="disadvantages">
        <label>{{localize "grpga.sections.vsd.disadvantages"}}</label>
    </div>
    <div class="content" style="display: {{actor.data.sections.disadvantages}}">
        <div class="twospan item-list">
            {{#each disadvantages as |item|}}
            <div class="item notes" data-item-id={{item._id}}>
                <label class="item-edit draggable"><b>{{item.name}}:</b> {{item.data.notes}}</label>
            </div>
            {{/each}}
            <div class="header">
                <label>{{localize "grpga.sections.vsd.advantages"}}</label>
            </div>
            {{#each advantages as |item|}}
            <div class="item notes" data-item-id={{item._id}}>
                <label class="item-edit draggable"><b>{{item.name}}:</b> {{item.data.notes}}</label>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<hr>
<div class="section">
    <div class="sectionheader collapsible" data-section="stats">
        <label>{{localize "grpga.sections.vsd.stats"}}</label>
    </div>
    <div class="content" style="display: {{actor.data.sections.stats}}">
        <div class="twospan item-list">
            <div class="subsection">
                <div class="header">
                    <label>{{primarysort.name}}</label>
                </div>
                {{#each primarysort.data as |item|}}
                <div class="item entry" data-item-id={{item._id}} title="{{item.notes}}">
                    <label class="item-edit draggable"> {{~item.name~}} </label>
                    <label>[ {{~item.value~}} ]</label>
                    <a class="rollable" data-name="{{item.name}}" data-roll={{item.value}} data-type="skill" data-attacktable="2.1 Action Resolution Table">
                        <i class="fas fa-dice-d20"></i>
                    </a>
                </div>
                {{/each}}
                {{#each primods as |item|}}
                {{#if item.data.alwaysOn}}
                {{else}}
                <div class="item modifier{{#if item.data.inEffect}} inEffect{{/if}}" data-item-id={{item._id}} title="{{item.data.notes}}">
                    <label class="item-toggle draggable">{{item.name}}</label>
                </div>
                {{/if}}
                {{/each}}
                <div class="header">
                    <label>Kin Special Traits</label>
                </div>
                {{#each perks as |item|}}
                <div class="item entry" data-item-id={{item._id}} title="{{item.data.notes}}">
                    <label class="item-edit draggable">{{item.name}}</label>
                </div>
                {{/each}}
                <div class="header">
                    <label>Background</label>
                </div>
                {{#each quirks as |item|}}
                <div class="item entry" data-item-id={{item._id}} title="{{item.data.notes}}">
                    <label class="item-edit draggable">{{item.name}}</label>
                </div>
                {{/each}}
            </div>
            <div class="subsection">
                <div class="header">
                    <label>Advancement</label>
                </div>
                {{#each advancementpools as |item|}}
                <div class="item poolstyle" title="{{item.notes}}" data-item-id={{item._id}}>
                    <label class="poolname item-edit draggable">{{item.name}}:</label>
                    <input class="value iteminput pool" type="text" value={{item.value}} data-dtype="Number" data-name="data.value" data-abbr="{{item.abbr}}" />
                    <span>/ {{item.max}}</span>
                </div>
                {{/each}}
                {{#each advancementvariables as |item|}}
                <div class="item rankvariable" title="{{item.data.notes}}" data-item-id={{item._id}}>
                    <label class="variablename item-edit draggable">{{item.name}}</label>
                    <select class="select iteminput" data-name="data.label">
                        {{#select item.data.label}}
                        {{#each item.data.entries as |entry e|}}
                        {{#if (ne @index 0)}}
                        <option value="{{entry.label}}">{{entry.label}}</option>
                        {{/if}}
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<hr>
<div class="section">
    <div class="sectionheader collapsible" data-section="notes">
        <label>{{localize "grpga.sections.vsd.notes"}}</label>
    </div>
    <div class="content" style="display: {{actor.data.sections.notes}}">
        <div class="nospan biography">
            {{!--<textarea class="biography" name="data.biography">{{data.biography}}</textarea>--}}
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
            {{!--#if editable}}
            <button type="submit" name="submit"><i class="fas fa-feather-alt"></i> {{ localize "JOURNAL.Submit"}}</button>
            {{/if--}}
        </div>
    </div>
</div>
