<div class="section">
    <div class="sectionheader collapsible" data-section="defences">
        <label>{{localize "grpga.sections.vsd.defences"}}</label>
    </div>
    <div class="content" style="display: {{actor.data.sections.defences}}">
        <div class="fourspan item-list">
            {{#each defencevariables as |item|}}
            {{#if (eq item.type "Variable")}}
            <div class="item variable" title="{{item.data.notes}}" data-item-id={{item._id}}>
                <label class="variablename draggable item-edit">{{item.name}}</label>
                <select class="select iteminput" data-name="data.label">
                    {{#select item.data.label}}
                    {{#each item.data.entries as |entry e|}}
                    {{#if (ne @index 0)}}
                    <option value="{{entry.label}}">{{entry.label}}</option>
                    {{/if}}
                    {{/each}}
                    {{/select}}
                </select>
                <label class="value"></label>
            </div>
            {{else}}
            <div class="item entry" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="draggable" data-table="{{item.name}}"> {{~item.name~}} </label>
                <label class="rollable" data-name="{{item.name}}" data-roll={{item.data.value}} data-modtype="reaction" data-type="modlist">[ {{~item.data.moddedvalue~}} ]</label>
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.data.value}} data-type="reaction">
                    <i class="fas fa-dice-d20"></i></a>
            </div>
            {{/if}}
            {{/each}}
        </div>
        <div class="twospan item-list">
            {{#each savesort as |item|}}
            <div class="item entry" data-item-id={{item._id}} title="{{item.notes}}">
                <label class="item-edit draggable"> {{~item.name~}} </label>
                <label class="rollable" data-name="{{item.name}}" data-roll="{{item.value}}" data-modtype="block" data-type="modlist">[ {{~item.moddedvalue~}} ]</label>
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.value}} data-type="block">
                    <i class="fas fa-dice-d20"></i>
                </a>
            </div>
            {{/each}}
        </div>
        <div class="threespan item-list">
            <div class="header">
                <label>{{localize "grpga.sections.defencemods"}}</label>
            </div>
            {{> "systems/grpga/templates/partials/gmod.hbs" data=data}}
            {{#each defencemodifiers as |item|}}
            {{#if (eq item.type "Pool")}}
            <div class="item poolstyle" title="{{item.data.notes}}" data-item-id={{item._id}}>
                <label class="poolname item-edit draggable">{{item.name}}:</label>
                <input class="value iteminput pool" type="text" value={{item.data.value}} data-dtype="Number"
                    data-name="data.value" data-abbr="{{item.data.abbr}}" />
                <span>/ {{item.data.max}}</span>
            </div>
            {{else}}
            <div class="item variable" title="{{item.data.notes}}" data-item-id={{item._id}}>
                <label class="variablename item-edit draggable">{{item.name}}</label>
                <select class="select iteminput" data-name="data.label">
                    {{#select item.data.label}}
                    {{#each item.data.entries as |entry e|}}
                    {{#if (ne @index 0)}}
                    <option value="{{entry.label}}">{{entry.label}}</option>
                    {{/if}}
                    {{/each}}
                    {{/select}}
                </select>
                <label class="value">{{item.data.value}}</label>
            </div>
            {{/if}}
            {{/each}}
            {{#each defencesavemods as |item|}}
            {{#if item.data.alwaysOn}}
            {{else}}
            <div class="item modifier{{#if item.data.inEffect}} inEffect{{/if}}" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="item-toggle draggable">{{item.name}}</label>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>
<hr>
<div class="section">
    <div class="sectionheader collapsible" data-section="attacks">
        <label>{{localize "grpga.sections.attacks"}}</label>
    </div>
    <div class="content" style="display: {{actor.data.sections.attacks}}">

        <div class="twospan item-list">
            {{#each physicalattacks as |item|}}
            <div class="item entry {{#if (eq item.type 'Melee-Attack')}}melee{{else}}ranged{{/if}}" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="open-journal draggable" data-table="{{item.data.damage}}">{{item.attacknamecrit}}</label>
                <label class="rollable" data-name="{{item.name}}" data-roll={{item.data.value}} data-modtype="attack" data-type="modlist">[ {{~item.data.moddedvalue~}} ]</label>
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.data.value}} data-threat={{item.data.armourDiv}} data-type="attack" data-attacktable="{{item.data.damage}}" data-crittable="{{item.data.damageType}}" data-oerange="{{#if (eq item.type 'Melee-Attack')}}{{item.data.reach}}{{else}}{{item.data.rof}}{{/if}}" data-maxresult="{{#if (eq item.type 'Melee-Attack')}}{{item.data.weight}}{{else}}{{item.data.accuracy}}{{/if}}">
                    <i class="fas fa-dice-d20"></i></a>
            </div>
            {{/each}}
        </div>
        {{#if hitlocations}}
        <div class="twospan item-list">
            <div class="header">
                <label>{{localize "grpga.sections.vsd.hitlocations"}}</label>
            </div>
            {{#each hitlocations as |item|}}
            <div class="item wound" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="item-edit draggable">{{item.name}}</label>
                <label class="bleed">Bld: {{item.data.damageResistance}}/rd</label>
                <label class="actionpen">{{numberFormat item.data.damage decimals=0 sign=true}} to act</label>
            </div>
            {{/each}}
        </div>
        {{/if}}
        <div class="fourspan item-list">
            <div class="header">
                <label>{{localize "grpga.sections.attackmods"}}</label>
            </div>
            {{#each attackvariables as |item|}}
            {{#if (eq item.type "Pool")}}
            <div class="item poolstyle" title="{{item.data.notes}}" data-item-id={{item._id}}>
                <label class="poolname item-edit draggable">{{item.name}}:</label>
                <input class="value iteminput pool" type="text" value={{item.data.value}} data-dtype="Number" data-name="data.value" data-abbr="{{item.data.abbr}}" />
                <span>/ {{item.data.max}}</span>
            </div>
            {{else}}
            <div class="item variable" title="{{item.data.notes}}" data-item-id={{item._id}}>
                <label class="variablename item-edit draggable">{{item.name}}</label>
                <select class="select iteminput" data-name="data.label">
                    {{#select item.data.label}}
                    {{#each item.data.entries as |entry e|}}
                    {{#if (ne @index 0)}}
                    <option value="{{entry.label}}">{{entry.label}}</option>
                    {{/if}}
                    {{/each}}
                    {{/select}}
                </select>
                <label class="value">{{item.data.value}}</label>
            </div>
            {{/if}}
            {{/each}}
            {{#each attackdamagemods as |item|}}
            {{#if item.data.alwaysOn}}
            {{else}}
            <div class="item modifier{{#if item.data.inEffect}} inEffect{{/if}}" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="item-toggle draggable">{{item.name}}</label>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>
<hr>
<div class="section">
    <div class="sectionheader collapsible" data-section="specialrolls">
        <label>{{localize "grpga.sections.specialrolls"}}</label>
    </div>
    <div class="content" style="display: {{actor.data.sections.specialrolls}}">

        <div class="threespan item-list">
            {{#each specialcombatrolls as |item|}}
            {{#if (eq item.type "Defence")}}
            <div class="item entry" data-item-id={{item._id}} title="{{item.notes}}">
                <label class="open-journal draggable" data-table="{{item.notes}}"> {{~item.name~}} </label>
                <label class="rollable" data-name="{{item.name}}" data-roll="{{item.value}}" data-modtype="dodge" data-type="modlist">[ {{~item.moddedvalue~}} ]</label>
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.value}} data-type="dodge" data-attacktable="{{item.notes}}">
                    <i class="fas fa-dice-d20"></i>
                </a>
            </div>
            {{else}} {{! For Brawl: Unarmed Touch Attack}}
            <div class="item entry" data-item-id={{item._id}} title="{{item.notes}}">
                <label class="open-journal draggable" data-table="7.4 Unarmed/Grapple Attack Table"> {{~item.name~}} </label>
                <label class="rollable" data-name="{{item.name}}" data-roll="{{item.value}}" data-modtype="attack" data-type="modlist">[ {{~item.moddedvalue~}} ]</label>
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.value}} data-type="attack" data-attacktable="7.4 Unarmed/Grapple Attack Table">
                    <i class="fas fa-dice-d20"></i>
                </a>
            </div>
            {{/if}}
            {{/each}}
        </div>
        <div class="fourspan item-list">
            <div class="header">
                <label>{{localize "grpga.sections.specialmods"}}</label>
            </div>
            {{#each specialcombatmods as |item|}}
            <div class="item variable" title="{{item.data.notes}}" data-item-id={{item._id}}>
                <label class="variablename item-edit draggable">{{item.name}}</label>
                <select class="select iteminput" data-name="data.label">
                    {{#select item.data.label}}
                    {{#each item.data.entries as |entry e|}}
                    {{#if (ne @index 0)}}
                    <option value="{{entry.label}}">{{entry.label}}</option>
                    {{/if}}
                    {{/each}}
                    {{/select}}
                </select>
                <label class="value">{{item.data.value}}</label>
            </div>
            {{/each}}
            {{#each defencemods as |item|}}
            {{#if item.data.alwaysOn}}
            {{else}}
            <div class="item modifier{{#if item.data.inEffect}} inEffect{{/if}}" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="item-toggle draggable">{{item.name}}</label>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>
