<table class="fearsaverollstable">
    <tbody>
        <tr class="tableheaderrow">
            <td class="roll">Roll</td>
            <td class="outcome">Result</td>
            <td class="outcomeeffects">Effect</td>
        </tr>
        <tr class="tablerow rollable" data-type="fearsaveroll" data-table="3.9 Fear Save Rolls Table"
            data-roll="-51 or less"
            data-result="Dead Scared: Your heart stops beating. You are literally scared to death.">
            <td class="roll">-51 or less</td>
            <td class="outcome">Dead Scared</td>
            <td class="outcomeeffects">Your heart stops beating. You are literally scared to death.</td>
        </tr>
        <tr class="tablerow">
            <td class="roll">-50 to -25</td>
            <td class="outcome">Scared</td>
            <td class="outcomeeffects">Choose one:
                <li class="rollable" data-type="fearsaveroll" data-table="3.9 Fear Save Rolls Table"
                    data-roll="-50 to -25" data-result="Scared: You stand still, motionless, until you get struck by a Critical Strike or the
                source of your fear leaves your sight.">You stand still, motionless, until you get struck by a Critical
                    Strike or the source of your fear leaves your sight.</li>
                <li class="rollable" data-type="fearsaveroll" data-table="3.9 Fear Save Rolls Table"
                    data-roll="-50 to -25" data-result="Scared: You swoon for the duration of the scene.">You swoon for
                    the duration of the scene.</li>
                <li class="rollable" data-type="fearsaveroll" data-table="3.9 Fear Save Rolls Table"
                    data-roll="-50 to -25" data-result="Scared: You run away scared from the source of fear in a random direction for the whole scene. If you can
                not run away (for example, if you are cornered), then you swoon.">You run away scared from the source
                    of fear in a random direction for the whole scene. If you can not run away (for example, if you are
                    cornered), then you swoon.</li>
            </td>
        </tr>
        <tr class="tablerow rollable" data-type="fearsaveroll" data-table="3.9 Fear Save Rolls Table"
            data-roll="-24 to -1"
            data-result="Shaken: You suffer a -20 penalty to all actions while the source of your fear is in sight.">
            <td class="roll">-24 to -1</td>
            <td class="outcome">Shaken</td>
            <td class="outcomeeffects">You suffer a -20 penalty to all actions while the source of your fear is in
                sight.</td>
        </tr>
        <tr class="tablerow rollable" data-type="fearsaveroll" data-table="3.9 Fear Save Rolls Table"
            data-roll="0 to 50" data-result="Brave: You resist the effects of fear.">
            <td class="roll">0 to 50</td>
            <td class="outcome">Brave</td>
            <td class="outcomeeffects">You resist the effects of fear.</td>
        </tr>
        <tr class="tablerow rollable" data-type="fearsaveroll" data-table="3.9 Fear Save Rolls Table" data-roll="51+"
            data-result="Fearless: You stand your ground, fearless. You can not be scared anymore in the same scene. Furthermore, all your
        allies seeing your bravery get to re-roll any failed SR against Fear in the same Round with a special
        +20 bonus.">
            <td class="roll">51+</td>
            <td class="outcome">Fearless</td>
            <td class="outcomeeffects">You stand your ground, fearless. You can not be scared anymore in the same scene.
                Furthermore, all your allies seeing your bravery get to re-roll any failed SR against Fear in the same
                Round with a special +20 bonus.
            </td>
        </tr>
    </tbody>
</table>