{{log "this: " this}}

<form class="{{cssClass}}" autocomplete="off">
  <div id="sheet">
    <header class="vsd-header">
      <div class="sectionheader collapsible char-name" data-section="header">
        <input class="actorname" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'grpga.actor.name'}}" />
      </div>
      <div class="content" style="display: {{actor.data.sections.header}}">
        <div class="layout">
          <div class="portrait">
            <img class="portrait" src={{actor.img}} data-edit="img" title="{{actor.name}}" />
          </div>
          {{#with headerinfo as |item|}}
          <div class="toprowpalladium">
            <div class="headinfo single" data-item-id={{item.race._id}} title="Race">
              <input class="valuefull iteminput" type="text" value="{{item.race.data.notes}}" data-dtype="String" data-name="data.notes" />
            </div>
            <div class="headinfo single" data-item-id={{item.characterclass._id}} title="Character Class">
              <input class="valuefull iteminput" type="text" value="{{item.characterclass.data.notes}}" data-dtype="String" data-name="data.notes" />
            </div>
            <div class="headinfo single" data-item-id={{item.specificinfo._id}} title="Specific Information">
              <input class="valuefull iteminput" type="text" value="{{item.specificinfo.data.notes}}" data-dtype="String" data-name="data.notes" />
            </div>
          </div>
          <div class="midrowpalladium">
            {{#if ../data.useD6Pool}}
            <div class="headinfo double" data-item-id={{item.alignment._id}}>
              <span>Align:</span>
              <input class="value iteminput" type="text" value="{{item.alignment.data.notes}}" data-dtype="String" data-name="data.notes" />
            </div>
            <div class="headinfo double" data-item-id={{item.perception._id}}>
              <label class="rollable" data-name="{{item.perception.name}}" data-roll={{item.perception.value}} data-type="skill"><span>Per:</span></label>
              <input class="value iteminput" type="text" value="{{item.perception.moddedvalue}}" data-dtype="Number" data-name="data.formula" />
            </div>
            <div class="headinfo double" data-item-id={{item.initiative._id}}>
              <label class="rollable" data-name="{{item.initiative.name}}" data-roll={{item.initiative.value}} data-type="skill"><span>Init:</span></label>
              <input class="value iteminput" type="text" value="{{item.initiative.moddedvalue}}" data-dtype="Number" data-name="data.formula" />
            </div>
            <div class="headinfo double" data-item-id={{item.dodge._id}}>
              <label class="rollable" data-name="{{item.dodge.name}}" data-roll={{item.dodge.value}} data-type="skill"><span>Dodge:</span></label>
              <input class="value iteminput" type="text" value="{{item.dodge.moddedvalue}}" data-dtype="Number" data-name="data.formula" />
            </div>
            <div class="headinfo double" data-item-id={{item.xp._id}}>
              <span>XP:</span>
              <input class="value iteminput" type="text" value="{{item.xp.value}}" data-dtype="Number" data-name="data.formula" />
            </div>
            <div class="headinfo double" data-item-id={{item.level._id}}>
              <span>Lvl:</span>
              <input class="value iteminput" type="text" value={{item.level.value}} data-dtype="Number" data-name="data.formula" />
            </div>
            {{else if ../data.useD20}}
            <div class="headinfo triple item" data-item-id={{item.hitpoints._id}}>
              {{item.hitpoints.abbr}}
              :<input class="value iteminput pool" type="text" value={{item.hitpoints.value}} data-dtype="Number" data-name="data.value" data-abbr="{{item.hitpoints.abbr}}" />
              <span>/ {{item.hitpoints.max}}</span>
            </div>
            <div class="headinfo double" data-item-id={{item.apr._id}}>
              <label class="" data-name="{{item.apr.name}}"><span>APR:</span></label>
              <input class="value iteminput" type="text" value="{{item.apr.moddedvalue}}" data-dtype="Number" data-name="data.formula" />
            </div>
            <div class="headinfo double" data-item-id={{item.initiative._id}}>
              <label class="rollable" data-name="{{item.initiative.name}}" data-roll={{item.initiative.value}} data-type="dodge"><span>Init:</span></label>
              <input class="value iteminput" type="text" value="{{item.initiative.moddedvalue}}" data-dtype="Number" data-name="data.formula" />
            </div>
            <div class="headinfo double" data-item-id={{item.mpa._id}}>
              <label class="" data-name="{{item.mpa.name}}"><span>MPA:</span></label>
              <input class="value iteminput" type="text" value="{{numberFormat item.mpa.moddedvalue decimals=1 sign=false}}" data-dtype="Number" data-name="data.formula" />
            </div>
            <div class="headinfo move item" data-item-id={{item.pace._id}}>
              {{item.pace.data.label}}
              <select class="value select iteminput" data-name="data.label">
                {{#select item.pace.data.label}}
                {{#each item.pace.data.entries as |entry e|}}
                {{#if (ne @index 0)}}
                <option value="{{entry.label}}">{{entry.label}}</option>
                {{/if}}
                {{/each}}
                {{/select}}
              </select>
            </div>
            <div class="headinfo double item" data-item-id={{item.mr._id}}>
              {{item.mr.abbr}}
              :<input class="value iteminput pool" type="text" value="{{numberFormat item.mr.value decimals=1 sign=false}}" data-dtype="Number" data-name="data.value" data-abbr="{{item.mr.abbr}}"  />
            </div>
            {{else}}
            <div class="headinfo double" data-item-id={{item.alignment._id}}>
              <span>Align:</span>
              <input class="value iteminput" type="text" value="{{item.alignment.data.notes}}" data-dtype="String" data-name="data.notes" />
            </div>
            <div class="headinfo double" data-item-id={{item.perception._id}}>
              <label class="rollable" data-name="{{item.perception.name}}" data-roll={{item.perception.value}} data-type="dodge"><span>Per:</span></label>
              <input class="value iteminput" type="text" value="{{item.perception.moddedvalue}}" data-dtype="Number" data-name="data.formula" />
            </div>
            <div class="headinfo double" data-item-id={{item.initiative._id}}>
              <label class="rollable" data-name="{{item.initiative.name}}" data-roll={{item.initiative.value}} data-type="dodge"><span>Init:</span></label>
              <input class="value iteminput" type="text" value="{{item.initiative.moddedvalue}}" data-dtype="Number" data-name="data.formula" />
            </div>
            <div class="headinfo double" data-item-id={{item.dodge._id}}>
              <label class="rollable" data-name="{{item.dodge.name}}" data-roll={{item.dodge.value}} data-type="dodge"><span>Dodge:</span></label>
              <input class="value iteminput" type="text" value="{{item.dodge.moddedvalue}}" data-dtype="Number" data-name="data.formula" />
            </div>
            <div class="headinfo double" data-item-id={{item.xp._id}}>
              <span>XP:</span>
              <input class="value iteminput" type="text" value="{{item.xp.value}}" data-dtype="Number" data-name="data.formula" />
            </div>
            <div class="headinfo double" data-item-id={{item.level._id}}>
              <span>Lvl:</span>
              <input class="value iteminput" type="text" value={{item.level.value}} data-dtype="Number" data-name="data.formula" />
            </div>
            {{/if}}
          </div>
          <div class="bottomrowpalladium">
            <div class="headinfo single" data-item-id={{item.additionalinfo._id}} title="Additional Information: {{item.additionalinfo.data.notes}}">
              <input class="valuefull iteminput" type="text" value="{{item.additionalinfo.data.notes}}" data-dtype="String" data-name="data.notes" />
            </div>
            <div class="headinfo single" title="Admin Mode">
              <input class="valuefull" type="checkbox" name="data.adminMode" {{checked ../data.adminMode}} data-dtype="Boolean" />
            </div>
          </div>
          {{/with}}
        </div>
      </div>

      {{!-- Sheet Tab Navigation --}}
      <nav class="sheet-nav tabs" data-group="primary">
        <a class="tabtitle" data-tab="main">{{localize "grpga.tabs.main"}}</a>
        <a class="tabtitle" data-tab="combat">{{localize "grpga.tabs.combat"}}</a>
        <a class="tabtitle" data-tab="skills">{{localize "grpga.tabs.skills"}}</a>
        {{#if data.adminMode}}
        <a class="tabtitle" data-tab="items">{{localize "grpga.tabs.items"}}</a>
        <a class="tabtitle" data-tab="scripts">{{localize "grpga.tabs.scripts.title"}}</a>
        {{/if}}
      </nav>
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section id="tabs" class="sheet-body">

      {{!-- Stats Tab --}}
      <div class="tab main" data-tab="main" data-group="primary">

        <div class="section">
          <div class="sectionheader collapsible" data-section="spells">
            <label>{{localize "grpga.sections.primaryattributes"}}</label>
          </div>
          <div class="content" style="display: {{actor.data.sections.spells}}">

            {{#if data.useSineNomine}}
            <div class="threespan item-list">
              {{#each primaryattributes as |item|}}
              <div class="item entry" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="item-edit draggable"> {{~item.name}} - {{item.data.moddedvalue}}</label>
                <label>[{{numberFormat item.data.value decimals=0 sign=true}}]</label>
                {{#if ../data.use2D6}}
                <label></label>
                {{else}}
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.data.moddedvalue}} data-type="skill"> <i class="fas fa-dice-d20"></i> </a>
                {{/if}}
              </div>
              {{/each}}
            </div>
            {{else}}
            <div class="threespan item-list">
              {{#each primaryattributes as |item|}}
              <div class="item entry" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="item-edit draggable"> {{~item.name~}} </label>
                <label>[{{numberFormat item.data.value decimals=0 sign=false}}]</label>
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.data.moddedvalue}} data-type="skill"> <i class="fas fa-dice-d20"></i> </a>
              </div>
              {{/each}}
            </div>
            {{/if}}

            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "grpga.sections.primods"}}</label>
              </div>
              {{#each primods as |item|}}
              {{#if item.data.alwaysOn}}
              {{else}}
              <div class="item modifier{{#if item.data.inEffect}} inEffect{{/if}}" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="item-toggle draggable">{{item.name}}</label>
              </div>
              {{/if}}
              {{/each}}
            </div>
          </div>
        </div>
        <hr>

        <div class="section">
          <div class="sectionheader collapsible" data-section="spelllores">
            <label>{{localize "grpga.sections.pools"}}</label>
          </div>
          <div class="content" style="display: {{actor.data.sections.spelllores}}">

            <div class="fourspan item-list">
              {{#each pools as |item|}}
              <div class="item poolstyle" title="{{item.data.notes}}" data-item-id={{item._id}}>
                <label class="poolname item-edit draggable">{{item.name}}:</label>
                <input class="value iteminput pool" type="text" value={{item.data.value}} data-dtype="Number" data-name="data.value" data-abbr="{{item.data.abbr}}" />
                <span>/ {{item.data.max}}</span>
              </div>
              {{/each}}
            </div>

            <div class="fourspan item-list">
              <div class="header">
                <label>{{localize "grpga.sections.variables"}}</label>
              </div>
              {{#each variables as |item|}}
              <div class="item rankvariable" title="{{item.data.notes}}" data-item-id={{item._id}}>
                <label class="variablename item-edit draggable">{{item.name}}</label>
                <select class="select iteminput" data-name="data.label">
                  {{#select item.data.label}}
                  {{#each item.data.entries as |entry e|}}
                  {{#if (ne @index 0)}}
                  <option value="{{entry.label}}">{{entry.label}}</option>
                  {{/if}}
                  {{/each}}
                  {{/select}}
                </select>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
        <hr>

        <div class="section">
          <div class="sectionheader collapsible" data-section="notes">
            <label>{{localize "grpga.sections.d120.notes"}}</label>
          </div>
          <div class="content" style="display: {{actor.data.sections.notes}}">
            <div class="nospan item-list">
              <textarea class="biography" name="data.biography">{{data.biography}}</textarea>
            </div>
          </div>
        </div>

      </div>

      {{!-- Combat Tab --}}
      <div class="tab combat" data-tab="combat" data-group="primary">

        <div class="section">
          <div class="sectionheader collapsible" data-section="defences">
            <label>{{localize "grpga.sections.d120.defences"}}</label>
          </div>
          <div class="content" style="display: {{actor.data.sections.defences}}">

            {{#if data.useAlternity}}
            <div class="threespan item-list">
              {{#each defences as |item|}}
              <div class="item entry" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="rollable draggable" data-name="{{item.name}}" data-roll={{item.data.value}} data-modtype="defence" data-type="modlist"> {{item.name}} - {{item.data.value}} </label>
                <label>[ {{numberFormat item.data.stepvalue sign=true}} ]</label>
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.data.value}} data-type="{{item.data.category}}"> <i class="fas fa-dice-d20"></i> </a>
              </div>
              {{/each}}
            </div>
            {{else if data.useSineNomine}}
            <div class="threespan item-list">
              {{#each defences as |item|}}
              <div class="item entry" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="rollable draggable" data-name="{{item.name}}" data-roll={{item.data.value}} data-modtype="defence" data-type="modlist"> {{item.name}} </label>
                <label>[ {{item.data.moddedvalue}} ]</label>
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.data.value}} data-type="{{item.data.category}}"> <i class="fas fa-dice-d20"></i> </a>
              </div>
              {{/each}}
            </div>
            {{else}}
            <div class="threespan item-list">
              {{#each defences as |item|}}
              <div class="item entry" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="rollable draggable" data-name="{{item.name}}" data-roll={{item.data.value}} data-modtype="defence" data-type="modlist"> {{item.name}} </label>
                <label>[ {{item.data.moddedvalue}} ]</label>
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.data.value}} data-type="{{item.data.category}}"> <i class="fas fa-dice-d20"></i> </a>
              </div>
              {{/each}}
            </div>
            {{/if}}

            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "grpga.sections.d120.blocks"}}</label>
              </div>
              {{#each blocks as |item|}}
              <div class="item entry" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="rollable draggable" data-name="{{item.name}}" data-roll={{item.data.value}} data-modtype="defence" data-type="modlist"> {{item.name}} </label>
                <label>[ {{item.data.moddedvalue}} ]</label>
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.data.value}} data-type="{{item.data.category}}"> <i class="fas fa-dice-d20"></i> </a>
              </div>
              {{/each}}
            </div>
            <div class="fourspan item-list">
              {{#each defencevariables as |item|}}
              {{#if (eq item.type "Variable")}}
              <div class="item variable" title="{{item.data.notes}}" data-item-id={{item._id}}>
                <label class="variablename draggable item-edit">{{item.name}}</label>
                <select class="select iteminput" data-name="data.label">
                  {{#select item.data.label}}
                  {{#each item.data.entries as |entry e|}}
                  {{#if (ne @index 0)}}
                  <option value="{{entry.label}}">{{entry.label}}</option>
                  {{/if}}
                  {{/each}}
                  {{/select}}
                </select>
                <label class="value"></label>
              </div>
              {{else}}
              <div class="item poolstyle" title="{{item.data.notes}}" data-item-id={{item._id}}>
                <label class="poolname item-edit draggable">{{item.name}}:</label>
                <input class="value iteminput pool" type="text" value={{item.data.value}} data-dtype="Number" data-name="data.value" data-abbr="{{item.data.abbr}}" />
                <span>/ {{item.data.max}}</span>
              </div>
              {{/if}}
              {{/each}}
            </div>

            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "grpga.sections.defencemods"}}</label>
              </div>
              {{> "systems/grpga/templates/partials/gmod.hbs" data=data}}
              {{#each defencemods as |item|}}
              {{#if item.data.alwaysOn}}
              {{else}}
              <div class="item modifier{{#if item.data.inEffect}} inEffect{{/if}}" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="item-toggle draggable">{{item.name}}</label>
              </div>
              {{/if}}
              {{/each}}
            </div>
          </div>
        </div>
        <hr>

        <div class="section">
          <div class="sectionheader collapsible" data-section="attacks">
            <label>{{localize "grpga.sections.attacks"}}</label>
          </div>
          <div class="content" style="display: {{actor.data.sections.attacks}}">

            <div class="twospan item-list">
              {{#each attacks as |item|}}
              <div class="item attackentry {{#if (eq item.type 'Melee-Attack')}}melee{{else}}ranged{{/if}}" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="rollable draggable" data-name="{{item.name}}" data-roll={{item.data.value}} data-modtype="attack" data-type="modlist">{{item.name}}</label>
                <label>[{{item.data.moddedvalue}}]</label>
                <label class="rollable" data-name="{{item.name}}" data-roll="{{item.data.damage}}" data-type="damage">{{item.data.damage}}</label>
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.data.value}} data-threat={{item.data.armourDiv}} data-type="attack"> <i class="fas fa-dice-d20"></i></a>
              </div>
              {{/each}}
            </div>
            <div class="fourspan item-list">
              {{#each attackvariables as |item|}}
              {{#if (eq item.type "Variable")}}
              <div class="item variable" title="{{item.data.notes}}" data-item-id={{item._id}}>
                <label class="variablename draggable item-edit">{{item.name}}</label>
                <select class="select iteminput" data-name="data.label">
                  {{#select item.data.label}}
                  {{#each item.data.entries as |entry e|}}
                  {{#if (ne @index 0)}}
                  <option value="{{entry.label}}">{{entry.label}}</option>
                  {{/if}}
                  {{/each}}
                  {{/select}}
                </select>
                <label class="value"></label>
              </div>
              {{else}}
              <div class="item poolstyle" title="{{item.data.notes}}" data-item-id={{item._id}}>
                <label class="poolname item-edit draggable">{{item.name}}:</label>
                <input class="value iteminput pool" type="text" value={{item.data.value}} data-dtype="Number" data-name="data.value" data-abbr="{{item.data.abbr}}" />
                <span>/ {{item.data.max}}</span>
              </div>
              {{/if}}
              {{/each}}
            </div>

            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "grpga.sections.attackmods"}}</label>
              </div>
              {{#each attackdamagemods as |item|}}
              {{#if item.data.alwaysOn}}
              {{else}}
              <div class="item modifier{{#if item.data.inEffect}} inEffect{{/if}}" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="item-toggle draggable">{{item.name}}</label>
              </div>
              {{/if}}
              {{/each}}
            </div>
          </div>
        </div>

      </div>

      {{!-- Skills Tab --}}
      <div class="tab skills" data-tab="skills" data-group="primary">

        <div class="section">
          <div class="sectionheader collapsible" data-section="skills">
            <label>{{localize "grpga.sections.d120.checks"}}</label>
          </div>
          <div class="content" style="display: {{actor.data.sections.skills}}">

            {{#if data.useAlternity}}
            <div class="twospan item-list">
              {{#each skills as |item|}}
              <div class="item entry" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="rollable draggable" data-name="{{item.name}}" data-roll={{item.data.value}} data-modtype="defence" data-type="modlist"> {{item.name}} - {{item.data.value}} </label>
                <label>[ {{numberFormat item.data.stepvalue sign=true}} ]</label>
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.data.value}} data-type="{{item.data.category}}"> <i class="fas fa-dice-d20"></i> </a>
              </div>
              {{/each}}
            </div>
            {{else}}
            <div class="threespan item-list">
              {{#each skills as |item|}}
              {{#if (eq item.data.category "check")}}
              <div class="item entry" data-item-id={{item._id}} title="{{item.data.moddedformula}}: {{item.data.notes}}">
                <label class="rollable draggable" data-name="{{item.name}}" data-roll={{item.data.moddedformula}} data-type={{item.data.category}}>
                  {{item.name}}
                </label>
                <label></label>
                <label></label>
              </div>
              {{else}}
              <div class="item entry" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="rollable draggable" data-name="{{item.name}}" data-roll={{item.data.value}} data-modtype={{item.data.category}} data-type="modlist">
                  {{item.name}}
                </label>
                <label>[{{item.data.moddedvalue}}]</label>
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.data.value}} data-type={{item.data.category}}>
                  <i class="fas fa-dice-d20"></i>
                </a>
              </div>
              {{/if}}
              {{/each}}
            </div>
            {{/if}}
            <div class="fourspan item-list">
              {{#each skillvariables as |item|}}
              {{#if (eq item.type "Variable")}}
              <div class="item variable" title="{{item.data.notes}}" data-item-id={{item._id}}>
                <label class="variablename draggable item-edit">{{item.name}}</label>
                <select class="select iteminput" data-name="data.label">
                  {{#select item.data.label}}
                  {{#each item.data.entries as |entry e|}}
                  {{#if (ne @index 0)}}
                  <option value="{{entry.label}}">{{entry.label}}</option>
                  {{/if}}
                  {{/each}}
                  {{/select}}
                </select>
                <label class="value"></label>
              </div>
              {{else}}
              <div class="item poolstyle" title="{{item.data.notes}}" data-item-id={{item._id}}>
                <label class="poolname item-edit draggable">{{item.name}}:</label>
                <input class="value iteminput pool" type="text" value={{item.data.value}} data-dtype="Number" data-name="data.value" data-abbr="{{item.data.abbr}}" />
                <span>/ {{item.data.max}}</span>
              </div>
              {{/if}}
              {{/each}}
            </div>

            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "grpga.sections.d120.checkmods"}}</label>
              </div>
              {{> "systems/grpga/templates/partials/gmod.hbs" data=data}}
              {{#each checkskillspellmods as |item|}}
              {{#if item.data.alwaysOn}}
              {{! do not display these}}
              {{else}}
              <div class="item modifier{{#if item.data.inEffect}} inEffect{{/if}}" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="item-toggle draggable">{{item.name}}</label>
              </div>
              {{/if}}
              {{/each}}
            </div>
            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "grpga.sections.d120.techniques"}}</label>
              </div>
              {{#each techniques as |item|}}
              <div class="item entry" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="rollable draggable" data-name="{{item.name}}" data-roll="{{item.data.notes}}" data-type="technique">
                  {{item.name}}
                </label>
                <label></label>
                <label></label>
              </div>
              {{/each}}
            </div>
            <div class="fourspan item-list">
              {{#each spellvariables as |item|}}
              {{#if (eq item.type "Variable")}}
              <div class="item variable" title="{{item.data.notes}}" data-item-id={{item._id}}>
                <label class="variablename draggable item-edit">{{item.name}}</label>
                <select class="select iteminput" data-name="data.label">
                  {{#select item.data.label}}
                  {{#each item.data.entries as |entry e|}}
                  {{#if (ne @index 0)}}
                  <option value="{{entry.label}}">{{entry.label}}</option>
                  {{/if}}
                  {{/each}}
                  {{/select}}
                </select>
                <label class="value"></label>
              </div>
              {{else}}
              <div class="item poolstyle" title="{{item.data.notes}}" data-item-id={{item._id}}>
                <label class="poolname item-edit draggable">{{item.name}}:</label>
                <input class="value iteminput pool" type="text" value={{item.data.value}} data-dtype="Number" data-name="data.value" data-abbr="{{item.data.abbr}}" />
                <span>/ {{item.data.max}}</span>
              </div>
              {{/if}}
              {{/each}}
            </div>
            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "grpga.sections.d120.rms"}}</label>
              </div>
              {{#each rms as |item|}}
              <div class="item entry" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="draggable" data-name="{{item.name}}" data-type="rms">
                  {{item.name}}
                </label>
                <label></label>
                <label>[{{numberFormat item.data.moddedvalue decimals=0}}]</label>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>

      {{!-- Owned Items Tab --}}
      <div class="tab items" data-tab="items" data-group="primary">

        {{!-- PRIMARY ATTRIBUTES --}}
        <div class="section">
          <div class="sectionheader collapsible" data-section="primaryattributes">
            {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.primaryattributes") itemtype="Primary-Attribute" sections="single"}}
          </div>
          <div class="content" style="display: {{actor.data.sections.primaryattributes}}">
            <div class="nospan item-list">
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=primaryattributes}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- HIT LOCATION --}}{{!-- WOUNDS --}}
        <div class="section">
          <div class="sectionheader collapsible" data-section="hitlocations">
            {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=modeSpecificText.hitlocations itemtype="Hit-Location" sections="single"}}
          </div>
          <div class="content" style="display: {{actor.data.sections.hitlocations}}">
            <div class="nospan item-list">
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=hitlocations}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- SKILLS, INFORMATION & REFERENCE VALUES --}}
        <div class="section">
          <div class="sectionheader collapsible" data-section="skills">
            <h2>{{localize "grpga.sections.d120.checks"}}</h2>
          </div>
          <div class="content" style="display: {{actor.data.sections.skills}}">
            <div class="nospan item-list">
              {{!-- VARIABLE FORMULA --}} {{!-- D20 SKILLS --}} {{!-- D100 SKILLS --}}
              <div class="header">
                {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.d120.checks") itemtype="Rollable" category="skill" sections="single"}}
              </div>
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=skills}}
              {{!-- INFORMATION TO SHARE --}}
              <div class="header">
                {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.d120.techniques") itemtype="Rollable" category="technique" sections="single"}}
              </div>
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=techniques}}
              {{!-- REFERENCE VALUE --}}
              <div class="header">
                {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.d120.rms") itemtype="Rollable" category="rms" sections="single"}}
              </div>
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=rms}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- SAVING THROWS & DEFENCES --}}
        <div class="section">
          <div class="sectionheader collapsible" data-section="savesdefences">
            <h2>{{localize "grpga.sections.d120.defences"}}</h2>
          </div>
          <div class="content" style="display: {{actor.data.sections.savesdefences}}">
            <div class="nospan item-list">
              {{!-- DEFENCES --}}
              <div class="header">
                {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.d120.defences") itemtype="Defence" category="dodge" sections="single"}}
              </div>
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=defences}}
              {{!-- VALUES TO SHARE --}}
              <div class="header">
                {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.d120.blocks") itemtype="Defence" category="block" sections="single"}}
              </div>
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=blocks}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- TRAITS --}}
        <div class="section">
          <div class="sectionheader collapsible" data-section="traits">
            <h2>{{localize "grpga.sections.d120.traits"}}</h2>
          </div>
          <div class="content" style="display: {{actor.data.sections.traits}}">
            <div class="nospan item-list">
              {{!-- ADVANTAGES --}}
              <div class="header">
                {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=modeSpecificText.advantages itemtype="Trait" category="advantage" sections="single"}}
              </div>
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=advantages}}
              {{!-- DISADVANTAGES --}}
              <div class="header">
                {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=modeSpecificText.disadvantages itemtype="Trait" category="disadvantage" sections="single"}}
              </div>
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=disadvantages}}
              {{!-- PERKS --}}
              <div class="header">
                {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=modeSpecificText.perks itemtype="Trait" category="perk" sections="single"}}
              </div>
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=perks}}
              {{!-- QUIRKS --}}
              <div class="header">
                {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=modeSpecificText.quirks itemtype="Trait" category="quirk" sections="single"}}
              </div>
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=quirks}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- ATTACKS --}}
        <div class="section">
          <div class="sectionheader collapsible" data-section="melee">
            {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.melee") secondlabel=(localize "grpga.sections.ranged") itemtype="Melee-Attack" seconditemtype="Ranged-Attack" sections="double" mod1="" mod2=""}}
          </div>
          <div class="content" style="display: {{actor.data.sections.melee}}">
            <div class="nospan item-list">
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=attacks}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- POOLS --}}
        <div class="section">
          <div class="sectionheader collapsible" data-section="pools">
            {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.pools") itemtype="Pool" sections="single"}}
          </div>
          <div class="content" style="display: {{actor.data.sections.pools}}">
            <div class="nospan item-list">
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=pools}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- MODIFIERS --}}
        <div class="section">
          <div class="sectionheader collapsible" data-section="modifiers">
            {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.modifiers") itemtype="Modifier" sections="single"}}
          </div>
          <div class="content" style="display: {{actor.data.sections.modifiers}}">
            <div class="nospan item-list">
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=modifiers}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- VARIABLES --}}
        <div class="section">
          <div class="sectionheader collapsible" data-section="variables">
            {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.variables") itemtype="Variable" sections="single"}}
          </div>
          <div class="content" style="display: {{actor.data.sections.variables}}">
            <div class="nospan item-list">
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=variables}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- EQUIPMENT --}}
        <div class="section">
          <div class="sectionheader collapsible" data-section="equipment">
            {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.equipment") itemtype="Equipment" sections="single"}}
          </div>
          <div class="content" style="display: {{actor.data.sections.equipment}}">
            <div class="nospan item-list">
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=equipment}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- CONTAINERS --}}
        <div class="section">
          <div class="sectionheader collapsible" data-section="containers">
            {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.containers") itemtype="Container" sections="single"}}
          </div>
          <div class="content" style="display: {{actor.data.sections.containers}}">
            <div class="nospan item-list">
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=containers}}
            </div>
          </div>
        </div>

      </div>

      {{!-- Script Engine Tab --}}
      <div class="tab scripts" data-tab="scripts" data-group="primary">

        {{!-- Script Pane --}}
        <div id="baseitems">
          <div class="item-controls">
            <div>
              <a class="item-control item-create" title="{{localize " grpga.tabs.scripts.createT"}}">
                <i class="fas fa-plus"></i> {{localize "grpga.tabs.scripts.create"}}
              </a>
            </div>
            <div>
              <a class="item-control item-export" title="{{localize " grpga.tabs.scripts.exportT"}}">
                <i class="fas fa-minus"></i> {{localize "grpga.tabs.scripts.export"}}
              </a>
            </div>
            <div>
              <a class="item-control importPAL" title="Import stats in Palladium format">
                <i class="fas fa-plus"></i> Import Palladium Format
              </a>
            </div>
          </div>
          <textarea rows="24" name="data.itemscript">{{{actor.data.itemscript}}}</textarea>
        </div>

      </div>
    </section>
  </div>
  <script>
    $("input").focusin(function () {
      $(this).select();
    });
    $("textarea").focusin(function () {
      $(this).select();
    });
  </script>
</form>
