<form class="{{cssClass}}" autocomplete="off">
  <div id="sheet">

    {{!-- Sheet Header --}}
    {{> "systems/grpga/templates/partials/d100-header.hbs" data=data}}

    {{!-- Sheet Body --}}
    <section id="tabs" class="sheet-body">

      {{!-- Main Tab --}}
      <div class="tab main" data-tab="main" data-group="primary">

        <!-- Pools -->
        {{> "systems/grpga/templates/partials/pools.hbs" data=data}}
        {{> "systems/grpga/templates/partials/variables.hbs" data=data}}

        {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.d100.hitlocations")
        itemtype="Hit-Location" sections="single"}}
        <div class="attacks">
          {{#each hitlocations as |item|}}
          <div class="item attack" data-item-id={{item._id}} title="{{item.data.notes}}">
            <label class="chatrender attackname draggable">{{item.name}}</label>
            <label class="skill">
              Bleed {{item.data.damageResistance}}/rd
            </label>
            <label class="damage">
              Act at {{item.data.damage}}, DLTH: {{item.data.toHitPenalty}}
            </label>
          </div>
          {{/each}}
        </div>

        {{!-- Biography Tab --}}
        <div id="biography">
          <p>{{localize "grpga.item.notes"}}</p>
          <textarea rows="13" name="data.biography">{{{data.biography}}}</textarea>
        </div>
      </div>

      {{!-- Combat Tab --}}
      <div class="tab combat" data-tab="combat" data-group="primary">

        {{!-- DISPLAY ARMOUR CLASS --}}
        {{> "systems/grpga/templates/partials/reaction-ac.hbs" data=data}}

        {{!-- SAVING THROWS --}}
        {{> "systems/grpga/templates/partials/defences-saves.hbs" data=data}}

        {{!-- ATTACKS --}}
        {{> "systems/grpga/templates/partials/attacks.hbs" data=data}}

      </div>

      {{!-- Skills Tab --}}
      <div class="tab skills" data-tab="skills" data-group="primary">

        {{!-- PRIMARY ATTRIBUTES --}}
        {{> "systems/grpga/templates/partials/primary-attributes.hbs" data=data}}

        {{!-- SKILLS --}}
        {{> "systems/grpga/templates/partials/skills.hbs" data=data}}
      </div>

      {{!-- Spells Tab --}}
      <div class="tab spells" data-tab="spells" data-group="primary">
        {{> "systems/grpga/templates/partials/spells.hbs" data=data}}
      </div>

      {{!-- Owned Items Tab --}}
      <div class="tab items" data-tab="items" data-group="primary">

        <!-- Traits -->
        {{> "systems/grpga/templates/partials/owneditemstab.hbs" data=data}}

      </div>

      {{!-- Script Engine Tab --}}
      <div class="tab scripts" data-tab="scripts" data-group="primary">

        {{!-- Script Pane - THE PARTIAL MUST BE LEFT JUSTIFIED--}}
{{> "systems/grpga/templates/partials/scripts.hbs"}}

      </div>
    </section>
  </div>
  <script>
    $("input").focusin(function () {
      $(this).select();
    });
    $("textarea").focusin(function () {
      $(this).select();
    });
  </script>
</form>