{{log "this: " this}}

<form class="{{cssClass}}" autocomplete="off">
  <div id="sheet">
    <header class="mnm-header">
      <div class="sectionheader collapsible char-name" data-section="header">
        <input class="actorname" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'grpga.phrases.mnm.name'}}" />
      </div>
      <div class="content" style="display: {{actor.data.sections.header}}">
        <div class="layout">
          <div class="portrait">
            <img class="portrait" src={{actor.img}} data-edit="img" title="{{actor.name}}" />
          </div>
          {{#with headerinfo as |item|}}
          <div class="toprowpalladium">
            <div class="headinfo single" data-item-id={{item.secretName._id}} title="Secret Identity">
              <input class="valuefull iteminput" type="text" value="{{item.secretName.data.notes}}" data-dtype="String" data-name="data.notes" />
            </div>
            <div class="headinfo single" data-item-id={{item.characterclass._id}} title="Character Class">
              <input class="valuefull iteminput" type="text" value="{{item.characterclass.data.notes}}" data-dtype="String" data-name="data.notes" />
            </div>
            <div class="headinfo single" data-item-id={{item.specificinfo._id}} title="Specific Information">
              <input class="valuefull iteminput" type="text" value="{{item.specificinfo.data.notes}}" data-dtype="String" data-name="data.notes" />
            </div>
          </div>
          <div class="midrowpalladium">
            <div class="headinfo double" data-item-id={{item.alignment._id}}>
              <span>Align:</span>
              <input class="value iteminput" type="text" value="{{item.alignment.data.notes}}" data-dtype="String" data-name="data.notes" />
            </div>
            <div class="headinfo double" data-item-id={{item.perception._id}}>
              <label class="rollable" data-name="{{item.perception.name}}" data-roll={{item.perception.value}} data-type="dodge"><span>Per:</span></label>
              <input class="value iteminput" type="text" value="{{item.perception.moddedvalue}}" data-dtype="Number" data-name="data.formula" />
            </div>
            <div class="headinfo double" data-item-id={{item.initiative._id}}>
              <label class="rollable" data-name="{{item.initiative.name}}" data-roll={{item.initiative.value}} data-type="dodge"><span>Init:</span></label>
              <input class="value iteminput" type="text" value="{{item.initiative.moddedvalue}}" data-dtype="Number" data-name="data.formula" />
            </div>
            <div class="headinfo double" data-item-id={{item.dodge._id}}>
              <label class="rollable" data-name="{{item.dodge.name}}" data-roll={{item.dodge.value}} data-type="dodge"><span>Dodge:</span></label>
              <input class="value iteminput" type="text" value="{{item.dodge.moddedvalue}}" data-dtype="Number" data-name="data.formula" />
            </div>
            <div class="headinfo double" data-item-id={{item.xp._id}}>
              <span>XP:</span>
              <input class="value iteminput" type="text" value="{{item.xp.value}}" data-dtype="Number" data-name="data.formula" />
            </div>
            <div class="headinfo double" data-item-id={{item.level._id}}>
              <span>Lvl:</span>
              <input class="value iteminput" type="text" value={{item.level.value}} data-dtype="Number" data-name="data.formula" />
            </div>
          </div>
          <div class="bottomrowpalladium">
            <div class="headinfo single" data-item-id={{item.additionalinfo._id}} title="Additional Information: {{item.additionalinfo.data.notes}}">
              <input class="valuefull iteminput" type="text" value="{{item.additionalinfo.data.notes}}" data-dtype="String" data-name="data.notes" />
            </div>
            <div class="headinfo single" title="Admin Mode">
              <input class="valuefull" type="checkbox" name="data.adminMode" {{checked ../data.adminMode}} data-dtype="Boolean" />
            </div>
          </div>
          {{/with}}
        </div>
      </div>

      {{!-- Sheet Tab Navigation --}}
      <nav class="sheet-nav tabs" data-group="primary">
        <a class="tabtitle" data-tab="main">{{localize "grpga.tabs.main"}}</a>
        <a class="tabtitle" data-tab="origins">{{localize "grpga.tabs.mnm.origins"}}</a>
        <a class="tabtitle" data-tab="combat">{{localize "grpga.tabs.combat"}}</a>
        <a class="tabtitle" data-tab="advantages">{{localize "grpga.tabs.mnm.advantages"}}</a>
        {{#if data.adminMode}}
        <a class="tabtitle" data-tab="items">{{localize "grpga.tabs.items"}}</a>
        <a class="tabtitle" data-tab="scripts">{{localize "grpga.tabs.scripts.title"}}</a>
        {{/if}}
      </nav>
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section id="tabs" class="sheet-body">

      {{!-- Main Tab --}}
      <div class="tab main" data-tab="main" data-group="primary">
        {{> "systems/grpga/templates/partials/mnm-main.hbs"}}
      </div>

      {{!-- Origins Tab --}}
      <div class="tab origins" data-tab="origins" data-group="primary">
        {{> "systems/grpga/templates/partials/mnm-origins.hbs"}}
      </div>

      {{!-- Skills Tab --}}
      {{!-- <div class="tab skills" data-tab="skills" data-group="primary">
        {{> "systems/grpga/templates/partials/mnm-skills.hbs"}}
      {{!-- </div> --}}
      
      {{!-- Combat Tab --}}
      <div class="tab combat" data-tab="combat" data-group="primary">
        {{> "systems/grpga/templates/partials/mnm-combat.hbs"}}
      </div>

      {{!-- Advantages Tab --}}
      <div class="tab advantages" data-tab="advantages" data-group="primary">
        {{> "systems/grpga/templates/partials/mnm-advantages.hbs"}}
      </div>

      {{!-- Items Tab --}}
      <div class="tab items" data-tab="items" data-group="primary">
        {{> "systems/grpga/templates/partials/mnm-items.hbs"}}
      </div>

      {{!-- Scripts Tab --}}
      <div class="tab scripts" data-tab="scripts" data-group="primary">
{{> "systems/grpga/templates/partials/mnm-scripts.hbs"}}
      </div>
    </section>
  <script>
    $("input").focusin(function () {
      $(this).select();
    });
    $("textarea").focusin(function () {
      $(this).select();
    });
  </script>
</form>
