{{log "this: " this}}

<form class="{{cssClass}}" autocomplete="off">
  <div id="sheet">
    <header class="rtw-header">
      <div class="sectionheader collapsible char-name" data-section="header">
        <input class="actorname" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'grpga.actor.name'}}" />
      </div>
      <div class="content" style="display: {{actor.data.sections.header}}">
        <div class="layout">
          <div class="portrait">
            <img class="portrait" src={{actor.img}} data-edit="img" title="{{actor.name}}" />
          </div>
          {{#with headerinfo as |item|}}
          <div class="toprowpalladium">
            <div class="headinfo single" data-item-id={{item.race._id}} title="Race">
              <input class="valuefull iteminput" type="text" value="{{item.race.data.notes}}" data-dtype="String" data-name="data.notes" />
            </div>
            <div class="headinfo single" data-item-id={{item.characterclass._id}} title="Character Class">
              <input class="valuefull iteminput" type="text" value="{{item.characterclass.data.notes}}" data-dtype="String" data-name="data.notes" />
            </div>
            <div class="headinfo single" data-item-id={{item.specificinfo._id}} title="Specific Information">
              <input class="valuefull iteminput" type="text" value="{{item.specificinfo.data.notes}}" data-dtype="String" data-name="data.notes" />
            </div>
          </div>
          <div class="midrowpalladium">
            <div class="headinfo double" data-item-id={{item.alignment._id}}>
              <span>Align:</span>
              <input class="value iteminput" type="text" value="{{item.alignment.data.notes}}" data-dtype="String" data-name="data.notes" />
            </div>
            <div class="headinfo double" data-item-id={{item.perception._id}}>
              <label class="rollable" data-name="{{item.perception.name}}" data-roll={{item.perception.value}} data-type="dodge"><span>Per:</span></label>
              <input class="value iteminput" type="text" value="{{item.perception.moddedvalue}}" data-dtype="Number" data-name="data.formula" />
            </div>
            <div class="headinfo double" data-item-id={{item.initiative._id}}>
              <label class="rollable" data-name="{{item.initiative.name}}" data-roll={{item.initiative.value}} data-type="dodge"><span>Init:</span></label>
              <input class="value iteminput" type="text" value="{{item.initiative.moddedvalue}}" data-dtype="Number" data-name="data.formula" />
            </div>
            <div class="headinfo double" data-item-id={{item.dodge._id}}>
              <label class="rollable" data-name="{{item.dodge.name}}" data-roll={{item.dodge.value}} data-type="dodge"><span>Dodge:</span></label>
              <input class="value iteminput" type="text" value="{{item.dodge.moddedvalue}}" data-dtype="Number" data-name="data.formula" />
            </div>
            <div class="headinfo double" data-item-id={{item.xp._id}}>
              <span>XP:</span>
              <input class="value iteminput" type="text" value="{{item.xp.value}}" data-dtype="Number" data-name="data.formula" />
            </div>
            <div class="headinfo double" data-item-id={{item.level._id}}>
              <span>Lvl:</span>
              <input class="value iteminput" type="text" value={{item.level.value}} data-dtype="Number" data-name="data.formula" />
            </div>
          </div>
          <div class="bottomrowpalladium">
            <div class="headinfo single" data-item-id={{item.additionalinfo._id}} title="Additional Information: {{item.additionalinfo.data.notes}}">
              <input class="valuefull iteminput" type="text" value="{{item.additionalinfo.data.notes}}" data-dtype="String" data-name="data.notes" />
            </div>
            <div class="headinfo single" title="Admin Mode">
              <input class="valuefull" type="checkbox" name="data.adminMode" {{checked ../data.adminMode}} data-dtype="Boolean" />
            </div>
          </div>
          {{/with}}
        </div>
      </div>

      {{!-- Sheet Tab Navigation --}}
      <nav class="sheet-nav tabs" data-group="primary">
        <a class="tabtitle" data-tab="main">{{localize "grpga.tabs.main"}}</a>
        <a class="tabtitle" data-tab="combat">{{localize "grpga.tabs.combat"}}</a>
        <a class="tabtitle" data-tab="skills">{{localize "grpga.tabs.skills"}}</a>
        {{#if data.adminMode}}
        <a class="tabtitle" data-tab="items">{{localize "grpga.tabs.items"}}</a>
        <a class="tabtitle" data-tab="scripts">{{localize "grpga.tabs.scripts.title"}}</a>
        {{/if}}
      </nav>
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section id="tabs" class="sheet-body">

      {{!-- Stats Tab --}}
      <div class="tab main" data-tab="main" data-group="primary">

        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="spells">
            <label>{{localize "grpga.sections.primaryattributes"}}</label>
          </div>
          <div class="content" style="display: {{actor.data.sections.spells}}">
            <div class="fourspan item-list">
              {{#each data.points as |item|}}
              <div class="item entry" data-item-id={{item._id}} title="{{item.name}}">
                <label class="item-edit draggable">{{item.data.type}}: {{item.data.qty}} {{item.data.stat}}</label>
              </div>
              {{/each}}
            </div>
            <div class="threespan item-list">
              {{#each data.secondaries as |trait|}}
              <div class="entry" title="{{trait.name}}">
                <label class="draggable"> {{~trait.abbr}}: {{trait.value}} / {{trait.basemax}} & {{trait.temp}}</label>
              </div>
              {{/each}}
            </div>
            <div class="threespan">
              {{! Power}}
              <div class="subsection">
                <div class="header">
                  <label>{{localize "grpga.sections.rtw.power"}}</label>
                </div>
                {{log power}}
                {{#each power as |trait|}}
                {{log trait}}
                <div class="entry trait {{trait.aspect}}">
                  <label class="traitname">{{trait.name}}</label>
                  <input class="traitinput" type="number" name="data.traits.{{trait.abbr}}.ranks" value={{trait.ranks}} />
                  <label class="traitvalue">{{trait.value}}</label>
                  <a class="rollable" data-name="{{trait.name}}" data-roll={{trait.value}} data-type="skill"> <i class="fas fa-dice"></i> </a>
                </div>
                {{/each}}
              </div>
              {{! Wisdom}}
              <div class="subsection">
                <div class="header">
                  <label>{{localize "grpga.sections.rtw.wisdom"}}</label>
                </div>
                {{#each wisdom as |trait|}}
                <div class="entry trait {{trait.aspect}}">
                  <label class="traitname">{{trait.name}}</label>
                  <input class="traitinput" type="number" name="data.traits.{{trait.abbr}}.ranks" value={{trait.ranks}} />
                  <label class="traitvalue">{{trait.value}}</label>
                  <a class="rollable" data-name="{{trait.name}}" data-roll={{trait.value}} data-type="skill"> <i class="fas fa-dice"></i> </a>
                </div>
                {{/each}}
              </div>
              {{! Courage}}
              <div class="subsection">
                <div class="header">
                  <label>{{localize "grpga.sections.rtw.courage"}}</label>
                </div>
                {{#each courage as |trait|}}
                <div class="entry trait {{trait.aspect}}">
                  <label class="traitname">{{trait.name}}</label>
                  <input class="traitinput" type="number" name="data.traits.{{trait.abbr}}.ranks" value={{trait.ranks}} />
                  <label class="traitvalue">{{trait.value}}</label>
                  <a class="rollable" data-name="{{trait.name}}" data-roll={{trait.value}} data-type="skill"> <i class="fas fa-dice"></i> </a>
                </div>
                {{/each}}
              </div>
            </div>

            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "grpga.sections.primods"}}</label>
              </div>
              {{#each primods as |item|}}
              {{#if item.data.alwaysOn}}
              {{else}}
              <div class="item modifier{{#if item.data.inEffect}} inEffect{{/if}}" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="item-toggle draggable">{{item.name}}</label>
              </div>
              {{/if}}
              {{/each}}
            </div>
          </div>
        </div>
        <hr>

        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="spelllores">
            <label>{{localize "grpga.sections.rtw.materialsection"}}</label>
          </div>
          <div class="content" style="display: {{actor.data.sections.spelllores}}">
            {{! Consumable things}}
            <div class="twospan">
              {{! Materials}}
              <div class="subsection">
                <div class="header">
                  <label>{{localize "grpga.sections.rtw.materials"}}</label>
                </div>
                <div class="materialstable">
                  <div class="headrow">
                    <div class="headname"></div>
                    <div class="headrank">0</div>
                    <div class="headrank">1</div>
                    <div class="headrank">2</div>
                    <div class="headrank">3</div>
                    <div class="headrank">4</div>
                    <div class="headrank">5</div>
                  </div>
                  {{#each data.materials as |item abbr|}}
                  <div class="materialrow">
                    <div class="materialname">{{item.name}}</div>
                    {{#each item.qty as |value id|}}
                    <input class="materialinput" type="number" name="data.materials.{{abbr}}.qty.{{id}}" value={{value}} />
                    {{/each}}
                  </div>
                  {{/each}}
                </div>
              {{! Wealth}}
                <div class="header">
                  <label>{{localize "grpga.sections.rtw.wealth"}}</label>
                </div>
                <div class="wealth">
                    Rupees: <input class="wealthinput" type="text" name="data.rupees" value="{{data.rupees}}" />
                    Other Wealth: <input class="wealthinput" type="text" name="data.otherwealth" value="{{data.otherwealth}}" />
                </div>
              </div>
              {{! Ingredients}}
              <div class="subsection">
                <div class="header">
                  <label>{{localize "grpga.sections.rtw.ingredients"}}</label>
                </div>
                <div class="ingredients item-list">
                  {{#each data.ingredients as |item|}}
                  <div class="item entry ingredient" title={{item.data.type}} data-item-id={{item._id}}>
                    <label class="name draggable">{{item.name}}: </label>
                    <label class="effect">{{item.data.effect}}</label>
                    <label class="rank">r{{item.data.rank}}</label>
                    <input class="iteminput amount" type="number" data-dtype="Number" data-name="data.qty" value={{item.data.qty}} />
                  </div>
                  {{/each}}
                </div>
              {{! Key Items}}
                <div class="header">
                  <label>{{localize "grpga.sections.rtw.keyitems"}}</label>
                </div>
                <div class="keyitems item-list">
                  {{#each quirks as |item|}}
                  <div class="item entry" title="{{item.data.notes}}" data-item-id={{item._id}}>
                    <label class="draggable">{{item.name}}</label>
                  </div>
                  {{/each}}
                </div>
              </div>

            </div>
          </div>
        </div>
        <hr>

        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="notes">
            <label>{{localize "grpga.sections.rtw.notes"}}</label>
          </div>
          <div class="content" style="display: {{actor.data.sections.notes}}">
            <div class="nospan biography">
              {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
            </div>
          </div>
        </div>

      </div>

      {{!-- Combat Tab --}}
      <div class="tab combat" data-tab="combat" data-group="primary">

        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="defences">
            <label>{{localize "grpga.sections.rtw.defences"}}</label>
          </div>
          <div class="content" style="display: {{actor.data.sections.defences}}">

            <div class="threespan item-list">
              {{#each defences as |item|}}
              <div class="item entry" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="rollable draggable" data-name="{{item.name}}" data-roll={{item.data.value}} data-modtype="defence" data-type="modlist"> {{item.name}} </label>
                <label>[ {{item.data.moddedvalue}} ]</label>
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.data.value}} data-type="{{item.data.category}}"> <i class="fas fa-dice-d20"></i> </a>
              </div>
              {{/each}}
            </div>

            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "grpga.sections.rtw.blocks"}}</label>
              </div>
              {{#each blocks as |item|}}
              <div class="item entry" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="rollable draggable" data-name="{{item.name}}" data-roll={{item.data.value}} data-modtype="defence" data-type="modlist"> {{item.name}} </label>
                <label>[ {{item.data.moddedvalue}} ]</label>
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.data.value}} data-type="{{item.data.category}}"> <i class="fas fa-dice-d20"></i> </a>
              </div>
              {{/each}}
            </div>

            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "grpga.sections.rtw.defencemods"}}</label>
              </div>
              {{> "systems/grpga/templates/partials/gmod.hbs" data=data}}
              {{#each defencemods as |item|}}
              {{#if item.data.alwaysOn}}
              {{else}}
              <div class="item modifier{{#if item.data.inEffect}} inEffect{{/if}}" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="item-toggle draggable">{{item.name}}</label>
              </div>
              {{/if}}
              {{/each}}
            </div>
          </div>
        </div>
        <hr>

        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="attacks">
            <label>{{localize "grpga.sections.attacks"}}</label>
          </div>
          <div class="content" style="display: {{actor.data.sections.attacks}}">

            <div class="twospan item-list">
              {{#each attacks as |item|}}
              <div class="item attackentry {{#if (eq item.type 'Melee-Attack')}}melee{{else}}ranged{{/if}}" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="rollable draggable" data-name="{{item.name}}" data-roll={{item.data.value}} data-modtype="attack" data-type="modlist">{{item.name}}</label>
                <label>[{{item.data.moddedvalue}}]</label>
                <label class="rollable" data-name="{{item.name}}" data-roll="{{item.data.damage}}" data-type="damage">{{item.data.damage}}</label>
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.data.value}} data-threat={{item.data.armourDiv}} data-type="attack"> <i class="fas fa-dice-d20"></i></a>
              </div>
              {{/each}}
            </div>

            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "grpga.sections.attackmods"}}</label>
              </div>
              {{#each attackdamagemods as |item|}}
              {{#if item.data.alwaysOn}}
              {{else}}
              <div class="item modifier{{#if item.data.inEffect}} inEffect{{/if}}" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="item-toggle draggable">{{item.name}}</label>
              </div>
              {{/if}}
              {{/each}}
            </div>
          </div>
        </div>

      </div>

      {{!-- Skills Tab --}}
      <div class="tab skills" data-tab="skills" data-group="primary">

        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="skills">
            <label>{{localize "grpga.sections.rtw.checks"}}</label>
          </div>
          <div class="content" style="display: {{actor.data.sections.skills}}">

            <div class="threespan item-list">
              {{#each skills as |item|}}
              {{#if (eq item.data.category "check")}}
              <div class="item entry" data-item-id={{item._id}} title="{{item.data.moddedformula}}: {{item.data.notes}}">
                <label class="rollable draggable" data-name="{{item.name}}" data-roll={{item.data.moddedformula}} data-type={{item.data.category}}>
                  {{item.name}}
                </label>
                <label></label>
                <label></label>
              </div>
              {{else}}
              <div class="item entry" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="rollable draggable" data-name="{{item.name}}" data-roll={{item.data.value}} data-modtype={{item.data.category}} data-type="modlist">
                  {{item.name}}
                </label>
                <label>[{{item.data.moddedvalue}}]</label>
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.data.value}} data-type={{item.data.category}}>
                  <i class="fas fa-dice-d20"></i>
                </a>
              </div>
              {{/if}}
              {{/each}}
            </div>

            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "grpga.sections.rtw.checkmods"}}</label>
              </div>
              {{> "systems/grpga/templates/partials/gmod.hbs" data=data}}
              {{#each checkskillspellmods as |item|}}
              {{#if item.data.alwaysOn}}
              {{! do not display these}}
              {{else}}
              <div class="item modifier{{#if item.data.inEffect}} inEffect{{/if}}" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="item-toggle draggable">{{item.name}}</label>
              </div>
              {{/if}}
              {{/each}}
            </div>
            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "grpga.sections.rtw.techniques"}}</label>
              </div>
              {{#each techniques as |item|}}
              <div class="item entry" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="rollable draggable" data-name="{{item.name}}" data-roll="{{item.data.notes}}" data-type="technique">
                  {{item.name}}
                </label>
                <label></label>
                <label></label>
              </div>
              {{/each}}
            </div>
            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "grpga.sections.rtw.rms"}}</label>
              </div>
              {{#each rms as |item|}}
              <div class="item entry" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="draggable" data-name="{{item.name}}" data-type="rms">
                  {{item.name}}
                </label>
                <label></label>
                <label>[{{numberFormat item.data.moddedvalue decimals=0}}]</label>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>

      {{!-- Owned Items Tab --}}
      <div class="tab items" data-tab="items" data-group="primary">

        {{!-- PRIMARY ATTRIBUTES --}}
        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="primaryattributes">
            {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.primaryattributes") itemtype="Primary-Attribute" sections="single"}}
          </div>
          <div class="content" style="display: {{actor.data.sections.primaryattributes}}">
            <div class="nospan item-list">
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=primaryattributes}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- HIT LOCATION --}}{{!-- WOUNDS --}}
        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="hitlocations">
            {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=modeSpecificText.hitlocations itemtype="Hit-Location" sections="single"}}
          </div>
          <div class="content" style="display: {{actor.data.sections.hitlocations}}">
            <div class="nospan item-list">
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=hitlocations}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- SKILLS, INFORMATION & REFERENCE VALUES --}}
        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="skills">
            <h2>{{localize "grpga.sections.rtw.checks"}}</h2>
          </div>
          <div class="content" style="display: {{actor.data.sections.skills}}">
            <div class="nospan item-list">
              {{!-- VARIABLE FORMULA --}} {{!-- D20 SKILLS --}} {{!-- D100 SKILLS --}}
              <div class="header">
                {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.rtw.checks") itemtype="Rollable" category="skill" sections="single"}}
              </div>
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=skills}}
              {{!-- INFORMATION TO SHARE --}}
              <div class="header">
                {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.rtw.techniques") itemtype="Rollable" category="technique" sections="single"}}
              </div>
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=techniques}}
              {{!-- REFERENCE VALUE --}}
              <div class="header">
                {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.rtw.rms") itemtype="Rollable" category="rms" sections="single"}}
              </div>
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=rms}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- SAVING THROWS & DEFENCES --}}
        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="savesdefences">
            <h2>{{localize "grpga.sections.rtw.defences"}}</h2>
          </div>
          <div class="content" style="display: {{actor.data.sections.savesdefences}}">
            <div class="nospan item-list">
              {{!-- DEFENCES --}}
              <div class="header">
                {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.rtw.defences") itemtype="Defence" category="dodge" sections="single"}}
              </div>
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=defences}}
              {{!-- VALUES TO SHARE --}}
              <div class="header">
                {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.rtw.blocks") itemtype="Defence" category="block" sections="single"}}
              </div>
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=blocks}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- TRAITS --}}
        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="traits">
            <h2>{{localize "grpga.sections.rtw.traits"}}</h2>
          </div>
          <div class="content" style="display: {{actor.data.sections.traits}}">
            <div class="nospan item-list">
              {{!-- ADVANTAGES --}}
              <div class="header">
                {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=modeSpecificText.advantages itemtype="Trait" category="advantage" sections="single"}}
              </div>
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=advantages}}
              {{!-- DISADVANTAGES --}}
              <div class="header">
                {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=modeSpecificText.disadvantages itemtype="Trait" category="disadvantage" sections="single"}}
              </div>
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=disadvantages}}
              {{!-- PERKS --}}
              <div class="header">
                {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=modeSpecificText.perks itemtype="Trait" category="perk" sections="single"}}
              </div>
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=perks}}
              {{!-- QUIRKS --}}
              <div class="header">
                {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=modeSpecificText.quirks itemtype="Trait" category="quirk" sections="single"}}
              </div>
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=quirks}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- ATTACKS --}}
        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="melee">
            {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.melee") secondlabel=(localize "grpga.sections.ranged") itemtype="Melee-Attack" seconditemtype="Ranged-Attack" sections="double" mod1="" mod2=""}}
          </div>
          <div class="content" style="display: {{actor.data.sections.melee}}">
            <div class="nospan item-list">
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=attacks}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- POOLS --}}
        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="pools">
            {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.pools") itemtype="Pool" sections="single"}}
          </div>
          <div class="content" style="display: {{actor.data.sections.pools}}">
            <div class="nospan item-list">
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=pools}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- MODIFIERS --}}
        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="modifiers">
            {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.modifiers") itemtype="Modifier" sections="single"}}
          </div>
          <div class="content" style="display: {{actor.data.sections.modifiers}}">
            <div class="nospan item-list">
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=modifiers}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- VARIABLES --}}
        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="variables">
            {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.variables") itemtype="Variable" sections="single"}}
          </div>
          <div class="content" style="display: {{actor.data.sections.variables}}">
            <div class="nospan item-list">
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=variables}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- EQUIPMENT --}}
        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="containers">
            {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.equipment") itemtype="Equipment" sections="single"}}
          </div>
          <div class="content" style="display: {{actor.data.sections.equipment}}">
            <div class="nospan item-list">
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=equipment}}
            </div>
          </div>
        </div>
        <hr>

        {{!-- CONTAINERS --}}
        <div class="rtw-section">
          <div class="sectionheader collapsible" data-section="containers">
            {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.containers") itemtype="Container" sections="single"}}
          </div>
          <div class="content" style="display: {{actor.data.sections.containers}}">
            <div class="nospan item-list">
              {{> "systems/grpga/templates/partials/owneditems.hbs" section=containers}}
            </div>
          </div>
        </div>

      </div>

      {{!-- Script Engine Tab --}}
      <div class="tab scripts" data-tab="scripts" data-group="primary">

        {{!-- Script Pane --}}
        <div id="baseitems">
          <div class="item-controls">
            <div>
              <a class="item-control item-create" title="{{localize " grpga.tabs.scripts.createT"}}">
                <i class="fas fa-plus"></i> {{localize "grpga.tabs.scripts.create"}}
              </a>
            </div>
            <div>
              <a class="item-control item-export" title="{{localize " grpga.tabs.scripts.exportT"}}">
                <i class="fas fa-minus"></i> {{localize "grpga.tabs.scripts.export"}}
              </a>
            </div>
            <div>
              <a class="item-control importRtW" title="Import stats in Reclaim the Wild format">
                <i class="fas fa-plus"></i> Import Reclaim the Wild Format (WIP)
              </a>
            </div>
          </div>
          <textarea rows="24" name="data.itemscript">{{{actor.data.itemscript}}}</textarea>
        </div>

      </div>
    </section>
  </div>
  <script>
    $("input").focusin(function () {
      $(this).select();
    });
    $("textarea").focusin(function () {
      $(this).select();
    });
  </script>
</form>
