<form>
<div class="attacks">
    {{#each attackdata as |item|}}
    <div class="item attack {{#if (eq item.type 'Melee-Attack')}}melee{{else}}ranged{{/if}}" data-item-id={{item._id}}
        title="{{item.data.notes}}">
        <label class="chatrender attackname draggable">{{item.name}}</label>
        <label class="rollable skill" data-name="{{item.name}}" data-roll={{numberFormat item.data.value decimals=0}}
            data-threat={{item.data.armourDiv}} data-type="attack">
            Eff Skill: [{{numberFormat item.data.moddedvalue decimals=0}}]
        </label>
        <label class="rollable damage" data-name="{{item.name}}" data-roll="{{item.data.damage}}"
            data-damagetype="{{item.data.damageType}}" data-armourdiv="{{item.data.armourDiv}}" data-type="damage">
            Dmg: {{item.data.damage}} {{item.data.damageType}}
        </label>
    </div>
    {{/each}}
</div>
</form>