{{!debug "Tooltip: " this}}

<div class="dice-tooltip">
    {{#each parts}}
    <section class="tooltip-part">
        <div class="dice">
            <ol class="dice-rolls">
                {{#each this.rolls}}
                <li class="roll {{this.classes}}">{{{this.result}}}</li>
                {{/each}}
            </ol>
        </div>
    </section>
    {{/each}}
</div>