{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="portrait" src={{item.img}} data-edit="img" title="{{item.name}}" />
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize " grpga.item.name"}}" />
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow">
            <table>
                <tr>
                    <th>Rank</th>
                    <th>Effect</th>
                </tr>
                <tr>
                    <td><input name="data.rank" type="number" value="{{data.rank}}" data-dtype="String" /></td>
                    <td><input name="data.effect" type="text" value="{{data.effect}}" data-dtype="String" /></td>
                </tr>
            </table>
        </div>
        <hr>
        {{> "systems/grpga/templates/partials/notes.hbs" data=data}}
    </section>
</form>