{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="portrait" src={{item.img}} data-edit="img" title="{{item.name}}" />
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize " grpga.item.name"}}" />
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.quantity"}}</label>
            <input type="text" name="data.quantity" value={{item.data.quantity}} data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.weight"}}</label>
            <input type="text" name="data.weight" value={{item.data.weight}} data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.cost"}}</label>
            <input type="text" name="data.cost" value="{{item.data.cost}}" data-dtype="String" />
        </div>
{{> "systems/grpga/templates/partials/notes.hbs" data=data}}
    </section>
</form>