{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="portrait" src={{item.img}} data-edit="img" title="{{item.name}}" />
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'grpga.item.name'}}" />
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.points.stat"}}</label>
            <select name="data.type">
                {{#select item.data.type}}
                <option value="food">{{localize "grpga.item.ingredient.food"}}</option>
                <option value="critter">{{localize "grpga.item.ingredient.critter"}}</option>
                {{/select}}
            </select>
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.ingredient.effect"}}</label>
            <input type="text" name="data.effect" value="{{item.data.effect}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.ingredient.rank"}}</label>
            <input type="number" name="data.rank" value={{item.data.rank}} data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.ingredient.qty"}}</label>
            <input type="number" name="data.qty" value={{item.data.qty}} data-dtype="Number" />
        </div>
    </section>
</form>