{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="portrait" src={{item.img}} data-edit="img" title="{{item.name}}" />
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize " grpga.item.name"}}" />
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.formula}}</label>
            <input type="text" name="data.formula" value="{{item.data.formula}}" data-dtype="String" />
        </div>
        {{#if (eq mode "d100")}}
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.damage}}</label>
            <input type="text" name="data.damage" value="{{item.data.damage}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.damageType}}</label>
            <input type="text" name="data.damageType" value="{{item.data.damageType}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.armourDiv}}</label>
            <input type="text" name="data.armourDiv" value={{item.data.armourDiv}} data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.minST}}</label>
            <select name="data.minST">
                {{#select item.data.minST}}
                <option value="std">{{localize "grpga.item.melee-attack.d100.std"}}</option>
                <option value="oe">{{localize "grpga.item.melee-attack.d100.oe"}}</option>
                <option value="oeh">{{localize "grpga.item.melee-attack.d100.oeh"}}</option>
                <option value="oel">{{localize "grpga.item.melee-attack.d100.oel"}}</option>
                {{/select}}
            </select>
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.melee-attack.d100.reach"}}</label>
            <input type="text" name="data.reach" value="{{item.data.reach}}" data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.melee-attack.d100.weight"}}</label>
            <input type="text" name="data.weight" value={{item.data.weight}} data-dtype="Number" />
        </div>
        {{else if (eq mode "vsd")}}
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.damage}}</label>
            <select name="data.damage">
                {{#select item.data.damage}}
                <option value="{{localize 'grpga.tables.edged'}}">{{localize "grpga.item.melee-attack.vsd.edged"}}
                </option>
                <option value="{{localize 'grpga.tables.blunt'}}">{{localize "grpga.item.melee-attack.vsd.blunt"}}
                </option>
                <option value="{{localize 'grpga.tables.unarmed'}}">{{localize "grpga.item.melee-attack.vsd.unarmed"}}
                </option>
                <option value="{{localize 'grpga.tables.beasta'}}">{{localize "grpga.item.melee-attack.vsd.beasta"}}
                </option>
                {{/select}}
            </select>
        </div>
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.damageType}}</label>
            <select name="data.damageType">
                {{#select item.data.damageType}}
                <option value="{{localize 'grpga.tables.beastc'}}">{{localize "grpga.item.melee-attack.vsd.beastc"}}
                </option>
                <option value="{{localize 'grpga.tables.impact'}}">{{localize "grpga.item.melee-attack.vsd.impact"}}
                </option>
                <option value="{{localize 'grpga.tables.cut'}}">{{localize "grpga.item.melee-attack.vsd.cut"}}</option>
                <option value="{{localize 'grpga.tables.pierce'}}">{{localize "grpga.item.melee-attack.vsd.pierce"}}
                </option>
                <option value="{{localize 'grpga.tables.grapple'}}">{{localize "grpga.item.melee-attack.vsd.grapple"}}
                </option>
                {{/select}}
            </select>
        </div>
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.armourDiv}}</label>
            <input type="text" name="data.armourDiv" value={{item.data.armourDiv}} data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.melee-attack.vsd.reach"}}</label>
            <input type="text" name="data.reach" value="{{item.data.reach}}" data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.melee-attack.vsd.weight"}}</label>
            <input type="text" name="data.weight" value={{item.data.weight}} data-dtype="Number" />
        </div>
        {{else}}
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.damage}}</label>
            <input type="text" name="data.damage" value="{{item.data.damage}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.damageType}}</label>
            <input type="text" name="data.damageType" value="{{item.data.damageType}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.armourDiv}}</label>
            <input type="text" name="data.armourDiv" value={{item.data.armourDiv}} data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.minST}}</label>
            <input type="text" name="data.minST" value="{{item.data.minST}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.melee-attack.reach"}}</label>
            <input type="text" name="data.reach" value="{{item.data.reach}}" data-dtype="String" />
        </div>
        {{/if}}
        {{#if (eq mode "3d6")}}
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.weight"}}</label>
            <input type="text" name="data.weight" value={{item.data.weight}} data-dtype="Number" />
        </div>
        {{/if}}
{{> "systems/grpga/templates/partials/notes.hbs" data=data}}
    </section>
</form>