{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="portrait" src={{item.img}} data-edit="img" title="{{item.name}}" />
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize " grpga.item.name"}}" />
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- iterating through the modifier entries --}}
        {{#each item.data.entries as |entry e|}}
        <div class="modentry" data-id={{@index}}>
            <input class="value" type="hidden" name="data.entries.{{e}}.value" value="{{entry.value}}"
                data-dtype="Number" />
            <input class="formula" type="text" name="data.entries.{{e}}.formula" value="{{entry.formula}}"
                data-dtype="String" />
            <select class="category" name="data.entries.{{e}}.category">
                {{#select entry.category}}
                <option value="attack">{{localize "grpga.item.modifier.attack"}}</option>
                <option value="defence">{{../modeSpecificText.defence}}</option>
                <option value="skill">{{../modeSpecificText.skill}}</option>
                <option value="spell">{{../modeSpecificText.spell}}</option>
                {{#if (and (ne ../mode "d120") (ne ../mode "mnm"))}}
                <option value="reaction">{{../modeSpecificText.reaction}}</option>
                {{/if}}
                {{#if (and (ne ../mode "d100") (ne ../mode "vsd"))}}
                <option value="check">{{../modeSpecificText.check}}</option>
                <option value="damage">{{localize "grpga.item.modifier.damage"}}</option>
                {{/if}}
                <option value="primary">{{localize "grpga.item.modifier.primary"}}</option>
                {{/select}}
            </select>
            <input class="targets" type="text" name="data.entries.{{e}}.targets" value="{{entry.targets}}"
                data-dtype="String" />
            {{#if (eq @index 0)}}
            <a class="modentry-create"><i class="fas fa-plus"></i></a>
            <span></span>
            <span></span>
            {{else}}
            <a class="modentry-delete"><i class="fas fa-trash"></i></a>
            <a class="modentry-clone"><i class="fas fa-clone"></i></a>
            {{#if (eq @index 1)}}
            <span></span>
            {{else}}
            <a class="modentry-moveup"><i class="fas fa-level-up-alt"></i></a>
            {{/if}}
            {{/if}}
        </div>
        {{#if (eq @index 0)}}
        <div class="modentry">
            <label class="resource-label">{{localize "grpga.item.formula"}}</label>
            <label class="resource-label">{{localize "grpga.item.category"}}</label>
            <label class="resource-label">{{../modeSpecificText.targets}}</label>
            <span></span>
            <span></span>
            <span></span>
        </div>
        {{/if}}
        {{/each}}
{{> "systems/grpga/templates/partials/notes.hbs" data=data}}
    </section>
</form>