{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="portrait" src={{item.img}} data-edit="img" title="{{item.name}}" />
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'grpga.item.name'}}" />
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.points.stat"}}</label>
            <select name="data.stat">
                {{#select item.data.stat}}
                <option value="hp">{{localize "grpga.item.points.hp"}}</option>
                <option value="mp">{{localize "grpga.item.points.mp"}}</option>
                <option value="sp">{{localize "grpga.item.points.sp"}}</option>
                {{/select}}
            </select>
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.points.type"}}</label>
            <select name="data.type">
                {{#select item.data.type}}
                <option value="damage">{{localize "grpga.item.points.damage"}}</option>
                <option value="spend">{{localize "grpga.item.points.spend"}}</option>
                <option value="bind">{{localize "grpga.item.points.bind"}}</option>
                <option value="burn">{{localize "grpga.item.points.burn"}}</option>
                <option value="temp">{{localize "grpga.item.points.temp"}}</option>
                {{/select}}
            </select>
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.points.qty"}}</label>
            <input type="text" name="data.qty" value={{item.data.qty}} data-dtype="Number" />
        </div>
    </section>
</form>