{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="portrait" src={{item.img}} data-edit="img" title="{{item.name}}" />
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize " grpga.item.name"}}" />
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.category"}}</label>
            <select name="data.category">
                {{#select item.data.category}}
                <option value="check">{{modeSpecificText.check}}</option>
                <option value="skill">{{modeSpecificText.skill}}</option>
                {{#if (eq mode "fragged") }}
                <option value="technique">{{modeSpecificText.technique}}</option>
                <option value="rms">{{modeSpecificText.rms}}</option>
                {{else if (or (eq mode "3d6") (eq mode "d120") (eq mode "mnm") (eq mode "rtw")) }}
                <option value="spell">{{modeSpecificText.spell}}</option>
                <option value="technique">{{modeSpecificText.technique}}</option>
                <option value="rms">{{modeSpecificText.rms}}</option>
                {{else}}
                <option value="spell">{{modeSpecificText.spell}}</option>
                {{/if}}
                {{/select}}
            </select>
        </div>
        <div class="flexrow">
            <label class="resource-label">Summary</label>
            <input type="text" name="data.summary" value="{{item.data.summary}}" data-dtype="String" {{#if (eq
                mode "vsd" )}}disabled{{/if}} />
        </div><div class="flexrow">
            <label class="resource-label">Cost</label>
            <input type="text" name="data.cost" value="{{item.data.cost.text}}" data-dtype="String" {{#if (eq
                mode "vsd" )}}disabled{{/if}} />
        </div>
{{> "systems/grpga/templates/partials/notes.hbs" data=data}}
    </section>
</form>