{{debug "this:" this}}
<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="portrait" src={{item.img}} data-edit="img" title="{{item.name}}" />
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize " grpga.item.name"}}" />
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.formula}}</label>
            <input type="text" name="data.formula" value="{{item.data.formula}}" data-dtype="String" />
        </div>
        {{#if (eq mode "d100")}}
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.damage}}</label>
            <input type="text" name="data.damage" value="{{item.data.damage}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.damageType}}</label>
            <input type="text" name="data.damageType" value="{{item.data.damageType}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.armourDiv}}</label>
            <input type="text" name="data.armourDiv" value={{item.data.armourDiv}} data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.minST}}</label>
            <select name="data.minST">
                {{#select item.data.minST}}
                <option value="std">{{localize "grpga.item.ranged-attack.d100.std"}}</option>
                <option value="oe">{{localize "grpga.item.ranged-attack.d100.oe"}}</option>
                <option value="oeh">{{localize "grpga.item.ranged-attack.d100.oeh"}}</option>
                <option value="oel">{{localize "grpga.item.ranged-attack.d100.oel"}}</option>
                {{/select}}
            </select>
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.ranged-attack.d100.rof"}}</label>
            <input type="text" name="data.rof" value={{item.data.rof}} data-dtype="Number" />
        </div>
        {{else if (eq mode "vsd")}}
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.damage}}</label>
            <select name="data.damage">
                {{#select item.data.damage}}
                <option value="{{localize 'grpga.tables.missile'}}">{{localize "grpga.item.ranged-attack.vsd.missile"}}
                </option>
                <option value="{{localize 'grpga.tables.area'}}">{{localize "grpga.item.ranged-attack.vsd.area"}}
                </option>
                <option value="{{localize 'grpga.tables.bolt'}}">{{localize "grpga.item.ranged-attack.vsd.bolt"}}
                </option>
                {{/select}}
            </select>
        </div>
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.damageType}}</label>
            <select name="data.damageType">
                {{#select item.data.damageType}}
                <option value="{{localize 'grpga.tables.pierce'}}">{{localize "grpga.item.ranged-attack.vsd.pierce"}}
                </option>
                <option value="{{localize 'grpga.tables.impact'}}">{{localize "grpga.item.ranged-attack.vsd.impact"}}
                </option>
                <option value="{{localize 'grpga.tables.cut'}}">{{localize "grpga.item.ranged-attack.vsd.cut"}}</option>
                <option value="{{localize 'grpga.tables.fire'}}">{{localize "grpga.item.ranged-attack.vsd.fire"}}
                </option>
                <option value="{{localize 'grpga.tables.lightning'}}">{{localize
                    "grpga.item.ranged-attack.vsd.lightning"}}</option>
                <option value="{{localize 'grpga.tables.frost'}}">{{localize "grpga.item.ranged-attack.vsd.frost"}}
                </option>
                <option value="{{localize 'grpga.tables.dark'}}">{{localize "grpga.item.ranged-attack.vsd.dark"}}
                </option>
                {{/select}}
            </select>
        </div>
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.armourDiv}}</label>
            <input type="text" name="data.armourDiv" value={{item.data.armourDiv}} data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.ranged-attack.vsd.rof"}}</label>
            <input type="text" name="data.rof" value={{item.data.rof}} data-dtype="Number" />
        </div>
        {{else}}
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.damage}}</label>
            <input type="text" name="data.damage" value="{{item.data.damage}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.damageType}}</label>
            <input type="text" name="data.damageType" value="{{item.data.damageType}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.armourDiv}}</label>
            <input type="text" name="data.armourDiv" value={{item.data.armourDiv}} data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.minST}}</label>
            <input type="text" name="data.minST" value="{{item.data.minST}}" data-dtype="String" />
        </div>
        {{/if}}
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.accuracy}}</label>
            <input type="text" name="data.accuracy" value="{{item.data.accuracy}}" data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.ranged-attack.range"}}</label>
            <input type="text" name="data.range" value="{{item.data.range}}" data-dtype="String" />
        </div>
        {{#if (eq mode "3d6")}}
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.ranged-attack.3d6.rof"}}</label>
            <input type="text" name="data.rof" value={{item.data.rof}} data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.ranged-attack.3d6.shots"}}</label>
            <input type="text" name="data.shots" value="{{item.data.shots}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.ranged-attack.3d6.bulk"}}</label>
            <input type="text" name="data.bulk" value={{item.data.bulk}} data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.ranged-attack.3d6.recoil"}}</label>
            <input type="text" name="data.recoil" value="{{item.data.recoil}}" data-dtype="String" />
        </div>
        {{/if}}
{{> "systems/grpga/templates/partials/notes.hbs" data=data}}
    </section>
</form>