{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="portrait" src={{item.img}} data-edit="img" title="{{item.name}}" />
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize " grpga.item.name"}}" />
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.category"}}</label>
            <select name="data.category">
                {{#select item.data.category}}
                <option value="advantage">{{modeSpecificText.advantage}}</option>
                <option value="disadvantage">{{modeSpecificText.disadvantage}}</option>
                <option value="perk">{{modeSpecificText.perk}}</option>
                <option value="quirk">{{modeSpecificText.quirk}}</option>
                {{/select}}
            </select>
        </div>
{{> "systems/grpga/templates/partials/notes.hbs" data=data}}
    </section>
</form>