{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="portrait" src={{item.img}} data-edit="img" title="{{item.name}}" />
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize " grpga.item.name"}}" />
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- iterating through the modifier entries --}}
        {{#each item.data.entries as |entry e|}}
        <div class="varentry" data-id={{@index}}>
            <input class="value" type="hidden" name="data.entries.{{e}}.value" value="{{entry.value}}"
                data-dtype="Number" />
            <input class="formula" type="text" name="data.entries.{{e}}.formula" value="{{entry.formula}}"
                data-dtype="String" />
            <input class="labels" type="text" name="data.entries.{{e}}.label" value="{{entry.label}}"
                data-dtype="String" />
            {{#if (eq @index 0)}}
            <a class="varentry-create"><i class="fas fa-plus"></i></a>
            <span></span>
            <span></span>
            {{else}}
            <a class="varentry-delete"><i class="fas fa-trash"></i></a>
            <a class="varentry-clone"><i class="fas fa-clone"></i></a>
            {{#if (eq @index 1)}}
            <span></span>
            {{else}}
            <a class="varentry-moveup"><i class="fas fa-level-up-alt"></i></a>
            {{/if}}
            {{/if}}
        </div>
        {{#if (eq @index 0)}}
        <div class="varentry">
            <label class="resource-label">{{localize "grpga.item.formula"}}</label>
            <label class="resource-label">{{localize "grpga.item.label"}}</label>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <hr>
        {{/if}}
        {{/each}}
{{> "systems/grpga/templates/partials/notes.hbs" data=data}}
    </section>
</form>